---
import Card from "../unitComponents/Card.astro";
import OHCustom from "./OHCustom.astro";
---

<section class="w-full mt-10 md:mt-20 flex flex-col gap-10 font-bold">
    <div class="w-full px-8 md:px-32 text-center">
        <h2 class="text-redBg text-2xl md:text-3xl">Keep Asphalt Flowing, Keep Profits Growing</h2>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[10%] px-8 md:px-32 text-grisT font-bold">
        <Card>
            <h2 class="text-lg md:text-xl">Precision Temperature Control:</h2>
            <p class="text-base md:text-lg font-thin">
                Maintains exact temperatures with a tolerance of ±1°C, ensuring optimal conditions for material processing.
            </p>
        </Card>
        <Card>
            <h2 class="text-lg md:text-xl">Customizable Heating Capacity: </h2>
            <p class="text-base md:text-lg font-thin">
                Tailored to meet specific project needs, from small-scale operations to large industrial requirements.
            </p>
        </Card>
        <Card>
            <h2 class="text-lg md:text-xl">High-Efficiency Burners:</h2>
            <p class="text-base md:text-lg font-thin">
                Equipped with low-NOx burners that reduce emissions while maximizing fuel efficiency.
            </p>
        </Card>
        <Card>
            <h2 class="text-lg md:text-xl">Thermal Oil Circulation System: 
            </h2>
            <p class="text-base md:text-lg font-thin">
                Ensures even heat distribution across the entire system, preventing hot spots and material degradation.
            </p>
        </Card>
    </div>
    <div class="text-center w-full py-10">
        <h2 class="text-blueMain text-2xl md:text-3xl">
            Stand out from the competition by offering the highest-quality mix.
        </h2>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div class="w-full bg-grisT">
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 bg-grisT px-8 md:px-32 pt-10">
            <div class="w-full text-white">
                <h2 class="text-xl md:text-2xl font-bold text-center">Expansion Tank</h2><br>
                <p class="text-base md:text-lg font-thin">
                    Our oil heater ensures uniform heat distribution through advanced thermal oil circulation.
                     It features a built-in expansion tank that absorbs oil volume changes due to temperature,
                      stabilizing pressure and protecting the system for longer, maintenance-free operation.
                </p>
                <div>
                    <img src="" alt="">
                </div>
            </div>
            <div class="w-full text-white">
                <h2 class="text-xl md:text-2xl font-bold text-center">High-Performance Recirculation Pump: </h2><br>
                <p class="text-base md:text-lg font-thin">
                    Equipped with a high-performance recirculation pump designed to maintain a constant flow of thermal oil,
                     ensuring efficient heat transfer. Available with a 10 HP or 15 HP motor depending on system capacity,
                      it supports continuous operation with low maintenance and optimal energy use.
                </p>
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="w-full bg-bgBeige px-8 md:px-32 py-10 -skew-y-2 overflow-hidden my-10">
            <div class="w-full skew-y-2">
                <h2 class="text-grisT text-xl md:text-2xl font-bold">Oil Coil</h2>
                <p class="text-grisT text-base md:text-lg font-thin">
                    Inside the thermal oil heater, the coil—or heat exchanger—is where the thermal oil flows through
                    a tightly wound spiral of steel tubing. This coil is heated indirectly by the burner, transferring
                    heat to the oil without combustion gases mixing with it. Once the oil reaches the desired temperature,
                    it circulates through the system to heat the target application, such as an asphalt tank or other industrial
                    equipment, delivering consistent and efficient thermal energy
                </p>
            </div>
        </div>
       <OHCustom></OHCustom> 
    </div>

    
    
</section>