---
import Hero from "../../assets/images/hero2.png";
import Image from "astro/components/Image.astro";
---

<section class="w-full min-h-10/12 mt-10">
    <div class="hidden md:block">
        <Image src={Hero} alt="">
    </div>
    <div class="flex flex-col gap-2 pt-10 px-10 text-center items-center">
        <h1 class="font-bold text-lg md:text-3xl mb-5">Asphalt plants for the smallest jobs to large projects</h1>
        <h2 class="font-bold text-base md:text-xl mb-1">With Triaso, Become the Exclusive Provider of Hot Mix for All Paving Projects in Your Region</h2>
        <p class="font-bold text-sm md:text-xl mb-5">Our customers choose Triaso asphalt plants over other brands for their high quality, reliability, and competitive pricing.</p>
    </div>
    <div>
        <h1>AQUI VA UN VIDEO</h1>
    </div>

</section>