<section class="flex flex-col items-center justify-center mt-20">
    <div class="flex items-center justify-center text-3xl font-light">
        <div class="flex flex-col justify-middle items-center">
            <h1>MEMBER OF</h1>
            <div class="mt-4 mb-6 flex">
                <div class="w-20 h-0.5 bg-red-500"></div>
                <div class="w-20 h-0.5 bg-gray-300"></div>
            </div>
        </div>
        <div class="text-2xl flex justify-center">
            <h1>NATIONAL ASPHALT PAVEMENT ASSOCIATION</h1>
        </div>
    </div>
    <button class="bg-orange-600 w-auto text-white mt-5 rounded-2xl py-1 px-4">Download our Broucher</button>
</section>