---
import Img1 from "../../assets/images/Delivery.webp";
---
<section class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-20">
    <div class="md:ml-52">
        <img src={Img1.src} alt="" class="md:rounded-2xl">
    </div>
    <div class="flex flex-col justify-center font-bold p-4 md:p-0">
        <h1 class="text-lg md:text-3xl font-bold">Highly portable</h1>
        <div class="mt-4 mb-6 flex">
            <div class="w-20 h-0.5 bg-red-500"></div>
            <div class="w-20 h-0.5 bg-gray-300"></div>
        </div>
        <p class="text-grisPPP w-3/4 text-sm md:text-lg">We understand the importance of getting your equipment up and running as quickly as possible. 
            Our Triaso equipment is designed for fast installation and startup.
        </p>
        <div class="bg-blueMain mt-2 p-4 text-grisSubP rounded-l-xl md:pr-20">
            <p class="text-justify text-sm md:text-lg">All components of our equipment are designed for integral transport, ensuring efficient 
                and rapid installation. Our robust equipment can be quickly and seamlessly installed on-site.
                <br> <br>
                Triaso equipments offer the great advantage of being fully portable, with the flexibility to be
                 installed as stationary, reducing operating and maintenance costs.
            </p>
        </div>
    </div>
    <div class="flex flex-col justify-center items-start font-bold text-lg md:text-2xl text-white">
        <div class="bg-redBg w-2/3 md:pl-20 p-4 rounded-r-2xl">
            <h1>100% manufactured in <br> neighboring México</h1>
        </div>
        <br>
        <div class="bg-blueMain w-8/9 md:pl-20 p-4 rounded-r-2xl">
            <h1>Versatile Configurations</h1>
            <p class="text-sm md:text-lg text-grisSubP">Triaso® equipment is designed to adapt seamlessly to your operational needs.
                 Simply tell us your requirements, and we’ll customize the 
                 equipment to provide you with a tailored quote..</p>
        </div>
    </div>
    <div class="p-4 md:mr-52">
        <img src={Img1.src} alt="" class="rounded-2xl">
    </div>


</section>