---
import Img1 from "../../assets/images/1.svg";
import Img2 from "../../assets/images/2.svg";
import Img3 from "../../assets/images/3.svg";
import Image from "astro/components/Image.astro";
---
<section class="bg-blueMain md:mx-[25vw] px-8 md:rounded-xl flex flex-col items-center justify-center font-bold text-white p-4 text-xs md:text-base">
    <div class="flex items-center justify-center p-4">
        <Image src={Img1} alt="" class="w-24 md:w-32 rounded-full mr-4">
        <div class="pl-6">
            <h1 class="text-lg md:text-xl">Fuel consumption lower than most competition:</h1>
            <br>
            <p class="text-grisSubP">Our plants use less fuel per ton of mix than most 
                competing plants, whether diesel, oil, gas, or any alternative fuel.</p>
        </div>
    </div>
    <div class="p-4 flex items-center justify-center">
        <div>
            <h1 class="text-lg md:text-xl">This is primarily due, to the following advantages, among other factors:</h1>
        <br>
        <ul class="pl-8 text-grisSubP">
            <li class="list-disc">Fuel preheater</li>
            <li class="list-disc">'Total air' burner with variable power</li>
            <li class="list-disc">Drum insulation</li>
            <li class="list-disc">Drum sealed against cold air entry</li>
            <li class="list-disc">Drum flights with radiant heat capture</li>
            <li class="list-disc">Drum flights with high-efficiency veiling</li>
            <li class="list-disc">No need for a 'cold air window' </li>
            <li class="list-disc">Computerized regulation of the entire system</li>
        </ul>
        </div>    
        
    </div>
    <div class="flex items-center justify-center p-4">
        <div>
            <h1 class="text-lg md:text-xl">Durability and Minimal Maintenance:</h1>
            <br>
            <p class="text-grisSubP">Designed and manufactured to the highest quality standards,
                 using American-certified steel and top-brand components.
                <br>
                Robust design to withstand harsh operating conditions and ensure long-term performance.
            </p>
        </div>
        <Image src={Img2} alt="" class="w-24 md:w-32 rounded-full mr-4">
    </div>
    <div class="p-4">
        <ul class="pl-4 text-grisSubP">
            <li class="list-disc">Heavy duty design and materials.</li>
            <li class="list-disc">High quality electrostatic automotive paint (baked) in medium to 
                small size pieces, and high quality paint in big pieces.
            </li>
            <ul class="mt-2 ml-5 space-y-2">
            <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-white before:bg-transparent">
                High corrosion-resistance, high adherence and long lasting color
            </li>
            </ul>
        </ul>
        <br>
        <p class="text-grisSubP">Operation cycle of 100% in highly contaminated environments</p>
    </div>
    <div class="flex items-center justify-center p-4">
        <Image src={Img3} alt="" class="w-24 md:w-32 rounded-full mr-4">
        <div>
            <h1 class="text-lg md:text-xl">Technology and Control:</h1>
            <br>
            <p class="text-grisSubP">Advanced monitoring systems for real-time performance tracking and diagnostics.
                <br>
                Fully integrated software for precise control of temperature, fuel, asphalt, aggregates,
                 RAP, adittional materials and the produced hot-mix.
            </p>
        </div>
    </div>
</section>