---
import Img from "../../assets/images/soldadura.jpg"
---
<div class="w-full 2xl:px-52 px-20 mt-10 flex flex-col items-start min-h-10/12 mb-1">
    <h1 class="text-4xl font-bold mb-5">100% <br> Manufacturers</h1>
    <h2 class="text-xl font-bold mb-5">Triaso manufacturers directly, we don´t have subcontractors</h2>
    <p class="font-bold text-gris5 text-lg mb-5 text-justify">No other asphalt plant manufacturer produces as many components 
        for its own equipment as we do. Unlike others, <strong class="text-black">we manufacture 
        directly without subcontractors</strong>, ensuring that every part meets 
        our strict quality standards.
        <br><br>
        This approach enables us to deliver <strong class="text-black">superior service, warranty,
         and direct support</strong> from both our manufacturing plant in Mexico 
         and USA. Unlike most brands, which produce only a few components
          and rely heavily on external suppliers, we manufacture and 
          assemble our equipment in-house.</p>
    <div class="grid grid-cols1 md:grid-cols-2 gap-10 pt-5 w-full">
        <div class="font-bold text-lg text-grisT">
            <h2 class="mb-5">Direct Attention from the Manufacturer</h2>
            <p class="text-grisP text-justify">At Triaso, you work directly with the manufacturer—no intermediaries or external sellers.
                 We design and produce our equipment, guaranteeing top quality, competitive pricing, and 
                 personalized service. Our in-house manufacturing ensures unparalleled warranty coverage, 
                 rapid support, immediate spare parts availability, and customized solutions tailored to your 
                 needs.</p>
            <div class="flex gap-10 justify-center items-center mt-20">
                <button class="border-blueMain text-blueMain border-2 rounded-full px-4 py-1 hover:bg-blueMainHover hover:text-white">Maintenance</button>
                <button class="border-redBg text-redBg border-2 rounded-full px-4 py-1 hover:bg-redBgHover hover:text-white">Manufacture</button>
            </div>
        </div>
        <div>
            <img src={Img.src} alt="">
        </div>
    </div>
</div>