---
import Boxes from "../../assets/images/Boxes.webp";
import Image from "astro/components/Image.astro";
---
<section class="max-w-7xl mx-auto px-8 mt-10 flex flex-col items-center justify-center min-h-10/12 mb-1">
    <div class="flex flex-col items-center justify-center w-full mt-10">
        <h1 class="text-xl md:text-4xl text-grisT font-bold mb-5">Triaso® Spare Parts</h1><br>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <Image src={Boxes} alt="" class="rounded-2xl"/>
            </div>
            <div class="font-bold flex flex-col items-center text-grisPPP text-base md:text-lg">
                <p class="text-justify">No other asphalt plant manufacturer produces as many components 
                    in-house as Triaso. <br> <br> This self-reliance enables us to provide 
                    <strong class="text-black">unmatched service, warranty</strong>, and direct support from both our 
                    Mexican manufacturing team and our U.S. distributor.</p> <br>
                <p class="text-justify">We maintain a team of <strong class="text-black">specialized technicians and engineers ready to
                     visit your equipment</strong>, perform thorough inspections, and determine your exact 
                     needs. This personalized approach ensures your equipment operates efficiently 
                     and remains in optimal condition.</p>
                <button class="bg-redBg hover:bg-redBgHover text-white mt-5 text-sm md:text-lg font-normal rounded-full py-1 px-4" aria-label="Learn more about Spare">Learn more</button>
            </div>
        </div>
    </div>
</section>
