---
import glass from '../../assets/images/AsphaltPlant/Aislamiento.png';
import blueT from '../../assets/images/AsphaltStorage/blueT.png';
---

<section class="w-full flex flex-col items-center justify-center mt-20 font-bold relative">
    <img src={blueT.src} alt="" class="max-w-[300px] absolute top-0 z-0">
    <div class="w-full md:mx-32 grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4 mt-10 z-10">
        <div class="bg-white px-8 md:pl-32 py-4 md:py-4 rounded-r-2xl">
            <h1 class="text-2xl md:text-3xl mt-10">From <br>
            12,000 to 30,000 gallons
            </h1><br>
            <div class="w-full grid grid-cols-3 gap-4">
                <div class="col-span-1 flex justify-center">
                    <img src={glass.src} alt="" class="h-full md:max-h-[300px]">
                </div>
                <div class="col-span-2">
                    <h2>Two inches fiberglass insulation</h2><br>
                    <p class="font-thin">
                        Our asphalt storage tanks feature six-inch fiberglass insulation,
                         designed for superior performance in minimizing heat loss and maintaining
                          consistent temperatures. This durable, energy-efficient insulation ensures your asphalt remains at the optimal temperature,
                           ready for use. Additionally, the exterior is reinforced with a stainless steel sheet lining, providing enhanced durability
                            and protection against harsh external conditions.
                    </p>
                </div>
            </div>
        </div>
        <div class="md:pr-32 px-8 w-full md:pl-12">
            <div class="text-2xl md:text-3xl mt-16">
                <h1>Triaso</h1>
                <h1 class="text-blueMain">Control System</h1>
            </div>
            <br>
            <p>
                Computerized system to prevent asphalt theft during tanker reception and operation.
            </p><br>
            <p class="text-grisT">
                With automated asphalt controls to monitor asphalt consumption per ton of produced mix, preventing waste and theft.
            </p>
            <div>
                <img src="" alt="">
            </div>
        </div>
    </div>
</section>