---
import img1 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS1.jpg';
import img2 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS2.png';
import img3 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS3.jpg';
import img4 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS4.jpg';
import img5 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS5.jpg';
import img6 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS6.jpg';
import img7 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS7.jpg';
import img8 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS8.jpg';
import MiniGallery from '../unitComponents/MiniGallery';

const gallerySlides = [{img:img1},{img:img2},{img:img3},{img:img4},{img:img5},{img:img6},{img:img7},{img:img8},]
---
<div class="w-full bg-grisT py-10">
    <div class="w-full px-8 lg:px-52">
        <h2 class="text-2xl md:text-3xl text-white font-bold">Applications</h2>
    </div>
    <div class="w-full font-bold text-white p-10 rounded-t-2xl grid grid-cols-1 md:grid-cols-2 gap-10 px-8 lg:px-52">
            <div class="w-full">
                <h3>Asphalt Mixing</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li>Storage and heating of asphalt cement for hot mix asphalt production.</li>
                </ul><br>
                <h3>Roofing & Construction Products</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li>Used to prepare and store asphalt-based materials for roofing membranes and sealants.</li>
                </ul><br>
                <h3>Crude Oil & Natural Gas Processing</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li>Handling of asphalt by-products or heavy residues in oil refining and gas separation processes.</li>
                </ul><br>
            </div>
            <div class="w-full">
                <h3>Polymer-Modified Asphalt</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li>Blending and storage of asphalt mixed with polymers for improved performance.</li>
                </ul><br>
                <h3>Emulsified Asphalt Production</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li>Maintaining temperature and stability of asphalt emulsions for cold mix applications.</li>
                </ul><br>
                <h3>Rubber Asphalt Blending</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li>Incorporating crumb rubber into liquid asphalt for enhanced pavement flexibility.</li>
                </ul>
            </div>         
    </div>
    <div class="w-full bg-grisT px-8 lg:px-52">
        <h2 class="font-bold text-white text-2xl px-4 md:text-3xl">Gallery</h2><br>
        <MiniGallery slides={gallerySlides}
                autoSlide={false}
                heightClass="h-[150px] md:h-[500px]"
                showText={false}
                client:only/>
    </div>
</div>
