---
import Image from 'astro/components/Image.astro';
import img5 from '../../assets/images/AsphaltPlant/agitators1.png';
import img1 from '../../assets/images/AsphaltStorage/ATG1.png';
import img2 from '../../assets/images/AsphaltPlant/tanqueV.png';
---
<section class="w-full mt-10 flex flex-col gap-10">
    <div class="w-full bg-bgBeige p-4 px-4 md:px-32 grid grid-cols-1 md:grid-cols-2 gap-4 font-bold">
        <div>
            <h2 class="text-lg md:text-xl">Asphalt Hoses</h2><br>
            <p class="text-grisT">
                When the asphalt pump pushes the asphalt, it reaches a desired height, 
                and the pipe directs the asphalt into a stainless steel hose. This hose is connected to the asphalt plant,
                 where the liquid asphalt is efficiently guided by gravity into the plant’s asphalt inlet.
            </p>
        </div>
        <div>
            <img src='' alt="">
        </div>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 px-8 md:px-32">
        <div class="w-full flex flex-col gap-4">
            <h1 class="font-bold text-xl md:text-2xl">AGITATORS FOR ADDITIVE <br>AND POLYMERS</h1>
            <div class="bg-white flex flex-col gap-6 rounded-2xl lg:text-lg text-base p-4">
                <h2>Designed for a homogeneous mixture of additives and polymers,
                     the agitator ensures uniform distribution of all components 
                     within the asphalt.</h2>
                <ul class="font-normal">
                    <li class="list-disc ml-4">Two 5 Hp agitators for:</li>
                    <li>
                        <ul class="ml-4">
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Speeding up heating and homogenizing asphalt temperature.</li>
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Incorporating type 2 polymers: natural latex, SBR, neoprene, etc.</li>
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Incorporating additives such as:</li>
                        
                        <ol class="ml-8">
                            <li>Rejuvenator for recycled asphalts.</li>
                            <li> Asphalt softener.</li>
                            <li>For warm mix applications.</li>
                            <li> Adhesion promoter.</li>
                            <li> Etc.</li>
                        </ol>
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Maintaining homogeneity in polymer-modified asphalts.</li>
                    </ul>
                    </li>
                </ul>
                <div class="w-full rounded-2xl px-5">
                    <Image src={img5} alt="" class="rounded-2xl h-[350px]"/>
                </div>
            </div>
            <div>
                <img src={img2.src} alt="">
            </div>
        </div>
        <div class="w-full flex flex-col gap-20">
            <h1 class="font-bold text-xl md:text-2xl text-redBg">SAFETY AND COMPLIANCE IN DESIGN <br>AND TRANSPORT</h1>
            <div class="w-full">
                <h2 class="font-bold">DOT-Compliant Design for Safe Transport</h2><br>
                <p>
                    Triaso® asphalt tanks—both vertical and portable horizontal models—are engineered with DOT-compliant
                    features to meet transportation safety regulations. Portable tanks include secure hitches, lighting systems,
                    heavy-duty axles, and braking components that align with Department of Transportation (DOT) standards, ensuring safe and
                    legal road transport.
                </p>
            </div>
            <div class="w-full">
                <h2 class="font-bold">OSHA-Compliant Railings for Vertical and Horizontal Asphalt Tanks</h2><br>
                <p>
                    All Triaso® vertical and horizontal asphalt tanks are equipped with OSHA-compliant railings to ensure operator safety during
                     access
                     and maintenance. Each tank includes safety handrails, kick plates, and secure platforms designed to meet strict safety
                      standards.
                </p>
            </div>
            <div class="w-full bg-blueMain text-white p-4 rounded-2xl">
                <div class="py-4">
                    <img src={img1.src} alt="">
                </div>
                <div>
                    <h1 class="text-2xl md:text-3xl font-bold">Fully Versatile and <br>Customizable</h1><br>
                    <p class="text-[#bfbfbf]">Our asphalt tanks are designed to meet your specific needs. We can fully customize them, from 
                        color and capacity to the type of heating system and intended use. Whether you need a standard solution or a tailor-made design,
                         we ensure your tank is built to fit your exact requirements—with the option of stationary vertical asphalt tanks or mobile 
                         asphalt tanks.
                    </p>
                </div>
            </div>
            <div class="w-full p-4 flex flex-col gap-4 font-bold">
                <h2 class="text-xl md:text-2xl">
                    Triaso® Vertical Asphalt Storage Tanks
                </h2>
                <div class="flex flex-col gap-10 text-grisT text-justify">
                    <p>
                    Triaso® vertical tanks are built for space efficiency and superior thermal performance. 
                    Their upright configuration minimizes the asphalt surface exposed to air, significantly reducing 
                    oxidation—particularly important when storing polymer-modified asphalts at high temperatures for extended
                    periods.
                    </p>
                    <p>
                    Equipped with high-efficiency internal coils and thick industrial-grade insulation, these tanks effectively
                    retain heat, reduce energy consumption, and maintain a consistent product temperature, even in extreme 
                    climates. Optional electric heaters can be added to meet specific operational needs or product requirements.
                    </p>
                    <p>
                    Each tank includes OSHA-compliant safety features such as a caged ladder, top manhole access, anti-slip 
                    diamond-plate deck, full perimeter handrails, and kickplates to ensure safe operation and maintenance access.
                    </p>
                    <p>
                    At ground level, all valves, gauges, and connections are easily accessible, making loading, unloading,
                    and temperature monitoring fast and secure. Standard models include a digital temperature controller, 
                    and configurations can be customized with mixers, level indicators, vapor condensers, and other accessories 
                    to match the demands of your application.
                    </p>
                </div>
            </div>
            
        </div>
        
    </div>
</section>