---
import img4 from '../../assets/images/AsphaltPlant/tanks1.png';
import Image from 'astro/components/Image.astro';
import Card from '../unitComponents/Card.astro';
---
<div class="w-full flex flex-col gap-10">
    <section class="w-full px-8 md:px-32 grid grid-cols-1 md:grid-cols-2 gap-4 mt-10 font-bold">
    <div class="w-full bg-bgBeige p-4 grid grid-cols-2 gap-4 rounded-2xl">
        <div>
            <h2>Triaso Asphalt Level Sensor</h2><br>
            <p class="text-grisT">
                Asphalt level sensor with guided wave radar technology, 
                designed for continuous and accurate monitoring in real-time.
            </p>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div class="w-full grid grid-cols-1 gap-4">
        <div class="bg-bgBeige p-4 rounded-2xl w-full">
            <p class="text-grisT">
                Asphalt volume in the tank (accuracy with a margin of error of 11.3 liters in 60,000 liters).
            </p>
            <ul class="list-disc pl-6 text-grisT">
                <li>
                    Consumption and refill history of asphalt.
                </li>
            </ul>
        </div>
        <div class="bg-bgBeige p-4 rounded-2xl w-full">
            <p class="text-grisT">
                Industrial mini-computer for monitoring and control, mounted on the tank, 
                ensuring real-time data tracking and operational security.
            </p>
        </div>
    </div>
    
    </section>
    <div class="w-full px-8 md:px-52 font-bold">
            <div class="w-full flex flex-col items-start justify-center mt-10 p-8 md:p-10 text-grisT bg-white md:rounded-2xl">
                <h1 class="text-xl md:text-3xl text-black md:mb-4">Options</h1>
                <div class="flex flex-col xl:flex-row items-start justify-between gap-8 w-full">
                    <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                        <h1>Exterior</h1>
                        <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                            <li>OSHA-compliant railings</li>
                            <li>Aesthetic side panels</li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                        <h1>General System</h1>
                        <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                            <li>Vapor condensers</li>
                            <li>Manual valves</li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                        <h1 class="text-white hidden md:block">General System</h1>
                        <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                            <li>Vapor condensers</li>
                            <li>Manual valves</li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                        <h1>Heating Systems</h1>
                        <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                            <li>Direct fire</li>
                            <li>
                                <ul class="text-base md:text-lg font-normal pl-8 list-disc text-grisP">
                                    <li>Heating with LP gas (propane)</li>
                                    <li>Heating with diesel</li>   
                                </ul>
                            </li>
                            <li>Oil heater</li>
                            <li>Heat transfer</li>
                        </ul>
                    </div>
                </div>
                <h1 class="text-lg lg:text-2xl mb-4">Incorporators and agitators</h1>
                <ul class="flex list-disc w-full gap-1 md:gap-10 pl-8 font-normal flex-col md:flex-row">
                    <li>Rubber incorporators</li>
                    <li>Agitators for any application</li>
                    <li>Incorporators for all types of polymers</li>
                </ul>
                <Image src={img4} alt="" class="mt-4 hidden md:block"/>
            </div>
    </div>
    <div class="w-full px-52">
        <p>
        Our asphalt storage tanks are completely customizable to fit the unique requirements of your operations. 
        From adjusting the size and layout to selecting specialized features like vapor condensers, manual valves,
         or submersible pumps, we ensure that your tank is designed to meet your specific needs. Whether you require 
         advanced heating systems, including LP gas or diesel options, or high-efficiency agitators for polymer integration,
          we offer a wide range of configurations.
        </p><br>
        <p>
            With customization options that extend to aesthetic side panels and OSHA-compliant railings, our tanks are designed to
            enhance both functionality and safety. We provide a flexible solution that seamlessly integrates with your existing
            infrastructure,
            helping you optimize asphalt management while maintaining top performance across diverse applications.
        </p>
    </div>
    <div class="w-full h-full pl-8 md:pl-32 grid grid-cols-1 md:grid-cols-2 gap-[10%]">
        <div class="w-full h-full flex flex-col gap-10">
            <Card>
                <h2 class="font-bold text-lg md:text-xl">Durable Fabrication</h2><br>
                <p class="text-grisT text-sm md:text-base font-bold">Our asphalt storage tanks are engineered using wear-resistant materials designed 
                    to withstand abrasive and heavy-duty conditions. This robust construction ensures reliable 
                    performance, even in the harshest environments. By minimizing wear and tear, the design significantly 
                    reduces maintenance needs and extends the system’s lifespan—delivering a dependable, long-term solution.
                </p>
            </Card>
            <div>
                <img src="" alt="">
            </div>
        </div>
        <div class="w-full flex flex-col gap-10">
            <div class="w-full h-full bg-redBg rounded-l-2xl p-4 text-white font-bold pr-8 md:pr-32">
                <h1 class="text-2xl md:text-3xl">Portable and <br> Relocatable Systems</h1><br>
                <p>Engineered for easy transport and quick setup, our systems deliver reliable performance
                    at any site—ideal for temporary or changing project locations.
                </p>
            </div>
            <div class="w-full pl-8 pr-8 md:pr-32 font-bold">
                <h2>Asphalt Pumps</h2><br>
                <p class="text-grisT">
                    Asphalt pumping from the tank works through a pump located at the bottom of the tank, 
                    where the asphalt is stored, with its motor positioned at the top. Once heated, the
                     asphalt is easily moved to the top of the tank—where the hose is—since at high temperatures, asphalt behaves 
                     like water.
                </p><br>
                <p class="text-grisT">
                    To prevent blockages inside the pipe, the pump operates in both directions: forward and reverse. When the tank 
                    finishes operating, the pump sends the asphalt from the outlet hose back into the tank.
                </p>
            </div>
        </div>
        
    </div>
</div>
