---
import img4 from '../../assets/images/AsphaltPlant/tanks1.png';
import Image from 'astro/components/Image.astro';
import Card from '../unitComponents/Card.astro';
import TwoColumnSection from '../unitComponents/TwoColumnSection.astro';
import Tred from "../../assets/images/AsphaltStorage/redT.png";
import img2 from '../../assets/images/AsphaltPlant/tanqueV.png';
---
<div class="w-full flex flex-col gap-10">
    <div class="w-full px-8 md:px-52">
        <img src="" alt="">
    </div>
    <div class="w-full px-8 md:px-52 grid grid-cols-1 md:grid-cols-2 gap-10">
        <div>

        </div>
        <div>

        </div>
    </div>
    <div class="w-full px-8 md:px-52">
        <h1 class="text-redBg text-2xl md:text-3xl font-bold text-center">Set the Standard in Asphalt Production</h1>
    </div>
    <div class="w-full px-8 md:px-52 grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="w-full">
            <img src={img2.src} alt="">
        </div>
        <div>

        </div>
    </div>
    <TwoColumnSection
                leftBg="bg-redBg"
                rightBg="bg-blueMain"
                imageSrc={Tred.src}
                imageAlt="Red T icon"
                imageWidth="150px"
                >
                    <div slot="left" class="flex flex-col justify-center gap-3">
                        <h1 class="text-xl md:text-2xl">Portable and Relocatable <br> Systems</h1>
                        <p class="text-base md:text-lg">
                            Engineered for easy transport and quick setup, our systems deliver reliable performance at any site—ideal
                             for temporary or changing project locations.
                        </p>
                    </div>
                    <div slot="right" class="flex flex-col justify-center gap-3">
                        <h1 class="text-xl md:text-2xl">
                            Durable Fabrication
                        </h1>
                        <p class="text-base md:text-lg">
                            Our asphalt storage tanks are engineered using wear-resistant materials designed to withstand abrasive 
                            and heavy-duty conditions. This robust construction ensures reliable performance, even in the harshest environments.
                             By minimizing wear and tear, the design significantly reduces maintenance needs and extends the system’s 
                             lifespan—delivering a dependable, long-term solution.
                        </p>
                    </div>
    </TwoColumnSection>
    
</div>
