---
import GallerySlider from "../unitComponents/GallerySlider";
const binSlides2 = [
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabA.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabB.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspA.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspB.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286Trab.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TrabB.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TranspA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabB.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabRapA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo con Rap',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TranspA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/consola.png',
    caption: 'Consola de control, con computadora plus para planta de asfalto de contraflujo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268A.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268C.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268D.png',
    caption: 'Unidad de tolvas triple plus',
  }

];
---
<div class='w-full grid grid-cols-1 lg:grid-cols-2 justify-center items-center mt-20 gap-10'>
    <div class='flex flex-col gap-6'>
        <div class='text-white bg-redBg p-4 font-bold md:rounded-r-2xl'>
            <h1 class='text-2xl md:text-3xl pl-8 md:pl-52'>Options to Meet Any Need</h1><br />
            <p class='pl-8 md:pl-52'>Our bin units offer versatile features such as flow detectors
                 for precise monitoring, level indicators to prevent overflow,
                  and vibrators to ensure smooth material flow. Customizable with
                   bin dividers, extensions, and grizzlies, they adapt to diverse
                    material handling requirements, delivering efficiency and reliability
                     in any application.
            </p>
        </div>
        <div class='text-white bg-blueMain p-4 font-bold md:rounded-r-2xl'>
            <h1 class='text-2xl md:text-3xl pl-8 md:pl-52'>Belt Feeders with Rubberized Pulleys</h1><br />
            <p class='pl-8 md:pl-52'>Our belt feeders are equipped with rubberized head
                 and tail pulleys, ensuring superior grip and minimizing slippage during
                  operation. This design enhances durability, reduces wear on the belt,
                   and provides reliable performance, even under heavy loads or challenging 
                   conditions.
            </p>
        </div>
    </div>
    <GallerySlider slides={binSlides2} visibleThumbs={6}/>
</div>


