---
import GallerySlider from "../unitComponents/GallerySlider";
const binSlides = [
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabA.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabB.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspA.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspB.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286Trab.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TrabB.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TranspA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabB.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabRapA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo con Rap',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TranspA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/consola.png',
    caption: 'Consola de control, con computadora plus para planta de asfalto de contraflujo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268A.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268C.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268D.png',
    caption: 'Unidad de tolvas triple plus',
  }

];
---
<div class="w-full">
  <GallerySlider slides={binSlides} visibleThumbs={6} client:only />
</div>