---
import GallerySlider from "../unitComponents/GallerySlider";
import g1 from "../../assets/images/Burners/Gallery/B1.webp";
import g2 from "../../assets/images/Burners/Gallery/B2.webp";

const BImages = [
    {
        image: g1.src,
        caption: "Total air and variable power burner, 33 million BTUs/hr, with filter and preheater. Used in Triaso asphalt plants, model 2015 and later.",
    },
    {
        image: g2.src,
        caption: "Total air and variable power burner, 33 million BTUs/hr, with filter and preheater. Used in Triaso asphalt plants, model 2015 and later.",
    },
];
---

<section class="w-full font-bold text-grisT">
    <div class="w-full mt-10 pb-10 px-8">
        <div class="z-50">
            <GallerySlider client:only slides={BImages} visibleThumbs={3} />
        </div>
    </div>
</section>
