---
import img1 from '../../assets/images/AsphaltPlant/render3.png';
import img2 from '../../assets/images/AsphaltPlant/Aislamiento.png';
import img3 from '../../assets/images/AsphaltPlant/tanqueV.png';

---
<div class="w-full flex flex-col items-center justify-center font-bold px-8 md:px-52 mt-20">
    <h1 class="text-xl md:text-4xl">Asphalt Storage Tanks</h1>
    <div class="w-full flex flex-col items-start justify-center mt-10 p-8 md:p-10 text-grisT bg-white md:rounded-2xl">
        <h1 class="text-xl md:text-3xl text-black md:mb-4">Options</h1>
        <div class="flex flex-col md:flex-row items-start justify-between gap-8 w-full">
            <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                <h1>Exterior</h1>
                <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                    <li>OSHA-compliant railings</li>
                    <li>Aesthetic side panels</li>
                </ul>
            </div>
            <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                <h1>General System</h1>
                <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                    <li>Vapor condensers</li>
                    <li>Manual valves</li>
                </ul>
            </div>
             <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                <h1 class="text-white hidden md:block">General System</h1>
                <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                    <li>Vapor condensers</li>
                    <li>Manual valves</li>
                </ul>
            </div>
            <div class="flex flex-col items-start justify-center text-xl md:text-2xl gap-4">
                <h1>Heating Systems</h1>
                <ul class="text-base md:text-lg font-normal pl-8 list-disc">
                    <li>Direct fire</li>
                        <ul class="text-base md:text-lg font-normal pl-8 list-disc text-grisP">
                            <li>Heating with LP gas (propane)</li>
                            <li>Heating with diesel</li>   
                        </ul>
                    <li>Oil heater</li>
                    <li>Heat transfer</li>
                </ul>
            </div>
        </div>
        <h1 class="text-lg lg:text-2xl mb-4">Incorporators and agitators</h1>
        <ul class="flex list-disc w-full gap-10 pl-8 font-normal">
            <li>Rubber incorporators</li>
            <li>Agitators for any application</li>
            <li>Incorporators for all types of polymers</li>
        </ul>
        <h1>FALTA UNA IMAGEN</h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-center w-full items-center gap-8 mt-20">
        <div class="flex flex-col items-start justify-center text-base lg:text-lg text-grisT gap-4">
            <h1 class="text-black text-xl lg:text-2xl mb-4">AGITATORS FOR ADDITIVES <br> AND POLYMERS</h1>
            <div class="bg-white flex flex-col gap-4 rounded-2xl lg:text-lg text-base p-4">
                <h2>Designed for a homogeneous mixture of additives and polymers,
                     the agitator ensures uniform distribution of all components 
                     within the asphalt.</h2>
                <ul class="font-normal">
                    <li class="list-disc ml-4">Two 5 Hp agitators for:</li>
                    <ul class="ml-4">
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Speeding up heating and homogenizing asphalt temperature.</li>
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Incorporating type 2 polymers: natural latex, SBR, neoprene, etc.</li>
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Incorporating additives such as:</li>
                        
                        <ol class="ml-8">
                            <li>Rejuvenator for recycled asphalts.</li>
                            <li> Asphalt softener.</li>
                            <li>For warm mix applications.</li>
                            <li> Adhesion promoter.</li>
                            <li> Etc.</li>
                        </ol>
                        <li class="relative pl-5 before:absolute before:left-0 before:top-2 before:h-2 before:w-2 before:rounded-full before:border before:border-grisT before:bg-transparent">Maintaining homogeneity in polymer-modified asphalts.</li>
                    </ul>
                </ul>
                <img src={img1.src} alt="">
            </div>
            <div class="grid grid-cols-3">
                <img src={img2.src} alt="" class="col-spa-1 h-full">
                <div class="col-span-2 bg-white rounded-2xl p-4">
                    <h1 class="text-black">Two inches fiberglass insulation</h1><br>
                    <p class="text-justify">Our asphalt storage tanks feature Two-inch fiberglass insulation,
                         designed for superior performance in minimizing heat loss and maintaining 
                         consistent temperatures. This durable, energy-efficient insulation ensures 
                         your asphalt remains at the optimal temperature, ready for use. Additionally, 
                         the exterior is reinforced with a stainless steel sheet lining, providing enhanced
                          durability and protection against harsh external conditions.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-start text-base lg:text-lg text-grisT h-full">
            <div class="bg-grisT text-white rounded-2xl p-8">
                <h1 class="text-xl lg:text-4xl">Fully Versatile and <br> Customizable</h1><br>
                <p class="text-grisSubP">Our asphalt tanks are designed to meet your specific needs. We can fully customize them,
                     from color and capacity to the type of heating system and intended use. Whether you need a 
                     standard solution or a tailor-made design, we ensure your tank is built to fit your exact
                      requirements—with the option of stationary vertical asphalt tanks or mobile asphalt tanks.</p>

            </div>
            <img src={img3.src} alt="" class="flex-grow">
        </div>
    </div>
</div>