---
import Tabs from './Tabs';
---

<div class="w-full flex flex-col items-center justify-center font-bold">
    <div class="w-full flex flex-col items-start justify-center mt-20 text-grisT px-8 md:px-52 text-base md:text-xl">
        <h1 class="text-xl lg:text-4xl mb-10">BAGHOUSES</h1>
        <p class="text-base lg:text-lg">Self-contained and integrated dust control systems for 
            efficient air filtration and particulate matter capture.</p>
            <br>
        <p class="text-justify text-base lg:text-lg">Baghouses are crucial for controlling dust and maintaining air quality in industrial 
            settings. They efficiently capture particulate matter, ensuring compliance with
             environmental standards and creating a safer work environment. Ideal for industries 
             like asphalt plants and aggregate processing, baghouses offer reliable, long-lasting 
             performance.</p>
             <br>
        <p>Elimination of sludge pits and their costly operation.</p>
    </div>
    <div class="w-full flex flex-col items-center mt-20 text-grisT px-8 md:px-52 text-base md:text-lg">
        <h1 class="text-black text-lg md:text-xl">Ranging from 4,000 to 90,000 ACFM Capacity</h1>
        <Tabs client:visible />

    </div>
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 justify-center items-center gap-10 mt-10 md:mt-20">
        <div class="flex flex-col items-start justify-center text-base md:text-lg text-grisT px-8 lg:pl-52">
            <p class="text-justify">
                The baghouses are highly efficient at capturing fine particles, <span class="text-black">achieving up to 99.99% 
                filtration</span>. Total and homogeneous return of fines to the asphalt mix to optimize its 
                quality and pavement life.
            </p>
            <br>
            <p class="text-justify">
                Our baghouses are engineered to support sustainable operations,<span class="text-black">effectively 
                reducing environmental impact by minimizing airborne dust and particulate pollution</span> . 
                Their advanced filtration system ensures cleaner air, contributing to a greener, 
                more eco-conscious workplace.
            </p>
            <br>
            <p>Different Types of Filter Bags and Their Specific Applications:</p>
            <ul class="ml-8">
                <li class="list-disc">Polyester</li>
                <li class="list-disc">Nomex</li>
                <li class="list-disc">Polyamide (P84)</li>
            </ul>
        </div>
        <div class="flex flex-col items-start justify-center text-base md:text-lg text-grisSubP">
            <h1 class="text-black px-8 md:pr-52 mb-4">Mechanism of baghouses available in pulse jet and reverse jet</h1>
            <div class="bg-blueMain lg:rounded-l-2xl p-8 md:my-8">
                <p class="md:w-3/4">Pulse Jet: A cleaning system that uses compressed air bursts to dislodge 
                    dust and debris from the filter bags, maintaining continuous airflow.</p><br>
                <p class="md:w-3/4">Reverse Air: A cleaning system that blows air in the opposite direction to 
                    remove dust from the filter bags, typically used in larger baghouses or high-dust applications.</p>
            </div>
            <p class="text-grisPPP p-8 md:pr-52">Manufacturing highly protable self-contained, and integrated models,
                 Triaso® baghouses operates at an air to cloth ratio as high as 8:1.</p>
        </div>
    </div>
    <div class="w-full flex flex-col items-center justify-center mt-20 px-8 md:px-52">
        <h1>VIDEO</h1>
        <button class="bg-redBg rounded-full 
        font-normal max-w-[200px] text-white py-1 px-4 
        text-sm md:text-lg hover:bg-redBgHover">Learn more</button>
    </div>
</div>