---
import Tabs from "./Tabs";
import DMVideo from "../../assets/images/DrumMixers/DMVideo.mp4";
import single from "../../assets/images/DrumMixers/baghouse.webp";
import LearnBtn from "../unitComponents/LearnBtn.astro";
import { Image } from "astro:assets";
---

<div class="w-full flex flex-col items-center justify-center font-bold">
  <div
    class="w-full flex flex-col  mt-20 text-grisT max-w-7xl mx-auto px-8 text-base md:text-xl"
  >
    <h1 
    id="Baghouses"
    class=" scroll-mt-20 text-2xl lg:text-4xl text-center lg:text-start md:text-start mb-10">BAGHOUSES</h1>
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 items-center">
      <div>
        <p class="text-justify text-base lg:text-lg font-thin">
          A continuous cleaning system keeps the filter bags operating at all
          times. Compressed air pulses are released through a supersonic nozzle,
          creating a pressure wave that rapidly expands each bag and dislodges
          the dust layer from its surface. The released fine particles fall into
          the lower collector, where they are reintegrated into the production
          process.
        </p>
        <br />
        <p class="text-justify text-base lg:text-lg font-thin">
          Elimination of sludge pits and their costly operation.
        </p><br />
        <p class="font-bold text-black">
          Ranging from 4,000 to 90,000 ACFM Capacity
        </p>
      </div>
      <div class="w-full flex justify-center items-center">
        <Image src={single} alt="" class="w-1/2" />
      </div>
    </div>
  </div>
  <div
    class="w-full flex flex-col items-center mt-20 text-grisT max-w-7xl mx-auto px-8 text-base md:text-lg"
  >
    <Tabs client:visible />
  </div><br />
  <div class="w-full max-w-7xl mx-auto px-8 py-6">
    <h2 class="font-bold text-grisT text-xl text-center lg:text-start md:text-start md:text-2xl">
      Advantages of fines return system
    </h2>
  </div>
  <div class="w-full bg-grisT text-white py-10">
    <div
      class="w-full max-w-7xl mx-auto px-8 grid grid-cols-1 md:grid-cols-2 items-center"
    >
      <div class="w-full">
        <ul class="list-disc ml-6 font-thin text-sm md:text-base">
          <li>Improves the gradation of the hot-mix.</li>
          <li>Increases the density and cohesion of the final material.</li>
          <li>
            Reduces the consumption of virgin aggregates, optimizing production
            costs.
          </li>
          <li>
            Decreases environmental pollution by reincorporating captured dust.
          </li>
          <li>
            Contributes to a more uniform and durable mix with better structural
            properties.
          </li>
        </ul>
      </div>
      <div class="w-full">
        <h2 class="text-base text-center mt-5 lg:mt-0 md:mt-0 lg:text-start md:text-start md:text-lg font-bold">
          Mechanism of baghouses available in pulse jet and reverse jet
        </h2><br />
        <p class="font-thin">
          <span class="font-bold">Pulse Jet:</span>
          A cleaning system that uses compressed air bursts to dislodge dust and
          debris from the filter bags, maintaining continuous airflow.
        </p><br />
        <p class="font-thin">
          <span class="font-bold">Reverse Air:</span>
          A cleaning system that blows air in the opposite direction to remove dust
          from the filter bags, typically used in larger baghouses or high-dust applications.
        </p>
      </div>
    </div>
  </div>
  <div
    class="w-full flex flex-col items-center justify-center mt-5 md:mt-20 max-w-7xl mx-auto px-8"
  >
    <div>
      <video src={DMVideo} autoplay muted></video>
      <p class="font-thin text-center text-grisT">
        Triaso® baghouses are portable, self-contained units that operate at
        air-to-cloth ratios up to 8:1
      </p>
    </div><br />
    <LearnBtn href="/BagHouses"/>
  </div>
</div>
