---
import img1 from '../../assets/images/AsphaltPlant/cold1.webp';
import img2 from '../../assets/images/AsphaltPlant/cold2.webp';
import Image from 'astro/components/Image.astro';
---
<div class="w-full flex flex-col items-center justify-center font-bold max-w-7xl mx-auto px-8 mt-10 md:mt-24">
    <h1 class="lg:text-4xl text-2xl text-blueMain text-start w-full">Cold</h1>
    <h1 class="lg:text-4xl text-2xl text-grisT text-start w-full">Mix Plants</h1>
    <div class="grid grid-cols-1 xl:grid-cols-6 gap-8 mt-10">
        <Image src={img1} alt="" class="col-span-4 hidden md:block"/>
        <div class="col-span-4 md:col-span-2 ">
            <p class="text-grisP lg:text-lg md:text-base text-justify">
                Cold mix plants are designed to mix a variety of materials for asphalt 
                aggregate mixtures using 
                a pugmill, 
                ensuring a consistent and high-quality blend. The plants feature hoppers that accurately 
                dose the materials, allowing for precise control over the mix.
            </p>
            <br>
            <Image src={img1} alt="" class="col-span-4 block md:hidden my-10"/>
            <p class="text-grisP lg:text-lg md:text-base text-justify">
                These plants are highly
                 versatile, capable of handling different types of aggregates, making them ideal for road 
                 repairs, patching, and smaller paving projects. With simple operation, easy maintenance,
                  and cost-effective performance, cold mix plants are perfect for contractors and
                   municipalities, offering reliable results in both temporary and remote worksites.
            </p>

        </div>
       
        
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-6 gap-8 mt-4 md:mt-20">
        <div class="col-span-3 pt-0 md:pt-20">
            <h1 class="lg:text-3xl text-xl text-blueMain block md:hidden my-10">Pugmill</h1>
            <p class="text-grisP lg:text-lg md:text-base text-justify">
                The pugmill is a crucial component in cold mix plants, designed to effectively
                 blend a variety of materials, including aggregates, to create a uniform mix. 
                 Its durable construction ensures smooth operation and reliable performance over time.
                 
            </p>
            <br>
            <Image src={img2} alt="" class="w-full block md:hidden my-10"/>
            <p class="text-grisP lg:text-lg md:text-base text-justify">
                The pugmill’s efficient mixing process allows for precise control, making it 
                 suitable for a wide range of applications where consistent material quality is 
                 required. With easy maintenance and operation, the pugmill provides long-lasting 
                 performance in various industrial environments.
            </p>
        </div>
        
        <div class="col-span-1"></div>
        <div class="col-span-2 hidden md:flex md:flex-col items-start justify-evenly">
            <h1 class="lg:text-3xl text-xl text-blueMain">Pugmill</h1>
            <br>
            <Image src={img2} alt="" class="w-full"/>
        </div>
    </div>
</div>