---
import img1 from '../../assets/images/AsphaltPlant/cold1.png';
import img2 from '../../assets/images/AsphaltPlant/cold2.png';
---
<div class="w-full flex flex-col items-center justify-center font-bold px-8 md:px-52 mt-10 md:mt-24">
    <h1 class="lg:text-4xl text-2xl text-blueMain text-start w-full">Cold</h1>
    <h1 class="lg:text-4xl text-2xl text-grisT text-start w-full">Mix Plants</h1>
    <div class="grid grid-cols-1 xl:grid-cols-6 gap-8 mt-10">
        <img src={img1.src} alt="" class="col-span-4">
        <p class="col-span-4 md:col-span-2 text-grisP lg:text-lg md:text-base text-justify">
            Cold mix plants are designed to mix a variety of materials for asphalt 
            aggregate mixtures using 
            a pugmill, 
            ensuring a consistent and high-quality blend. The plants feature hoppers that accurately 
            dose the materials, allowing for precise control over the mix. <br><br> These plants are highly
             versatile, capable of handling different types of aggregates, making them ideal for road 
             repairs, patching, and smaller paving projects. With simple operation, easy maintenance,
              and cost-effective performance, cold mix plants are perfect for contractors and
               municipalities, offering reliable results in both temporary and remote worksites.
        </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-6 gap-8 mt-4 md:mt-20">
        <p class="text-grisP lg:text-lg md:text-base text-justify col-span-3 pt-0 md:pt-20">
            The pugmill is a crucial component in cold mix plants, designed to effectively
             blend a variety of materials, including aggregates, to create a uniform mix. 
             Its durable construction ensures smooth operation and reliable performance over time. <br><br>
             The pugmill’s efficient mixing process allows for precise control, making it 
             suitable for a wide range of applications where consistent material quality is 
             required. With easy maintenance and operation, the pugmill provides long-lasting 
             performance in various industrial environments.
        </p>
        <div class="col-span-1"></div>
        <div class="col-span-2 flex flex-col items-start justify-evenly">
            <h1 class="lg:text-3xl text-xl text-blueMain">Pugmill</h1>
            <br>
            <img src={img2.src} alt="" class="w-full">
        </div>
    </div>
</div>