<div class="w-full flex flex-col items-center justify-center font-bold">
    <div class="flex flex-col items-center justify-center mt-20 text-white">
        <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-4">
            <img src="" alt="">
            <div class="flex flex-col items-center justify-center gap-4 bg-blueMain md:w-1/2 md:rounded-t-2xl p-8">
                <div class="text-xl md:text-4xl w-full text-start">
                    <h1 class="text-redBg">TRIASO® </h1>
                    <h1 class="">DRUM MIXER</h1>
                </div>
                <p class="text-grisSubP text-base md:text-lg text-justify">
                    High-quality drum mixers designed for durability and efficient asphalt blending. 
                    Featuring heat-resistant alloy steel drums and low air velocity systems, they ensure 
                    energy efficiency, minimal fine loss, and reduced maintenance, all while delivering 
                    consistent and reliable results in demanding conditions.
                </p>
            </div>
        </div>
        <div class="w-full bg-blueMain p-6">
            <h1 class="text-xl md:text-4xl">RANGING FROM 10 TO 500 TPH</h1>
        </div>
    </div>
    <div class="w-full flex flex-col items-center justify-center mt-20 text-black px-8 md:px-52">
        <h1 class="text-xl md:text-3xl text-center md:mb-10">Asphalt plants for the smallest jobs to large projects</h1>
        <h2 class="text-lg md:text-2xl text-center text-grisT">Discover all asphalt plants ranges and models ></h2>
        <h1>AQUI VA UN VIDEO</h1>
    </div>
    <div class="w-full flex flex-col items-center justify-center mt-20 text-black px-8 md:px-52">
        <h1 class="text-xl md:text-3xl text-start md:mb-5 w-full">
            Integral 10 Tph <br> Asphalt Plants
        </h1>
        <h2 class="text-lg md:text-2xl text-start w-full">Ideal for municipal jobs and road maintenance</h2>
        <p class="md:mt-5 text-grisT">
            Reduces production costs for small-volume asphalt manufacturing by optimizing startups, 
            minimizing fuel consumption, and lowering labor and transportation expenses.
        </p>
        <h1>AQUI VA UNA IMAGEN</h1>
        <h1 class="text-lg md:text-xl text-blueMain">Learn more of our <span class="text-redBg">incredible</span> 10 Tph Asphalt Plants ></h1>
    </div>
    <div class="flex flex-col items-center justify-center mt-20 px-8 md:px-52 w-full">
        <h1>AQUI VIDEO 1</h1>
        <h1>AQUI VIDEO 2</h1>
    </div>
    <div class="w-full flex flex-col items-center justify-center mt-20 px-8 md:px-52">
        <h1 class="text-xl md:text-4xl text-blueMain">Elevator</h1>
        <div class="">
            <h1>Aqui hay dudas con respecto al layout</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-4 mt-10 w-full">
            <div class="flex items.center justify-center gap-10">
                <img src="" alt="" class="">
                <div class="flex flex-col items-center justify-center gap-4">
                    <div class="flex flex-col items-start justify-center text-grisT md:text-lg text-base">
                        <h2>It can hold up</h2>
                        <h1 class="text-black text-lg md:text-2xl">0.5 cubic meters</h1>
                        <h2>of material.</h2>
                    </div>
                    <div class="flex flex-col items-start justify-center text-grisT md:text-lg text-base">
                        <h1 class="text-black text-lg md:text-2xl">Automatic opening</h1>
                        <h2>controlled by time regulates the opening </h2>
                        <h1 class="text-black text-lg md:text-2xl">via a timer.
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center gap-10">
                <div class="flex flex-col items-start justify-around gap-4 h-full">
                    <div class="flex flex-col items-start justify-center text-grisT md:text-lg text-base">
                        <h1 class="text-black text-lg md:text-2xl">Integrated control</h1>
                        <h2>in the console centralizes system management. </h2>
                    </div>
                    <div class="flex flex-col items-start justify-center text-grisT md:text-lg text-base">
                        <h1 class="text-black text-lg md:text-2xl">Pneumatic opening</h1>
                        <h2>with a</h2>
                        <h1 class="text-black text-lg md:text-2xl">double-acting jack</h1>
                    </div>
                </div>
                <div class="flex flex-col items-end justify-between gap-4">
                    <div class="flex flex-col items-start justify-center text-grisT md:text-lg text-base">
                        <h1 class="text-black text-lg md:text-2xl">Automatic or manual opening</h1>
                        <h2>allows operation either manually or automatically</h2>
                        
                    </div>
                    <div class="flex flex-col items-start justify-center text-grisT md:text-lg text-base">
                        <h1 class="text-black text-lg md:text-2xl">7.5 Hp air <br>compressor with a 293-liter air tank</h1>
                        <h2>supplies air for pneumatic operation</h2>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>