---
import img1 from '../../assets/images/AsphaltPlant/oil1.webp';
import LearnBtn from '../unitComponents/LearnBtn.astro';
import Image from 'astro/components/Image.astro';
import BurnerVideo from "../../assets/images/Burners/burnerVideo.mp4";
---
<div class="flex flex-col items-center justify-center mt-20 max-w-7xl mx-auto px-8 font-bold">
    <h1 class="text-center md:text-end text-3xl md:text-4xl w-full text-grisT mb-10">Heating Systems</h1>
    <section class="flex flex-col items-center justify-center">
    <div class="text-3xl md:text-4xl font-bold w-full text-start">
        <h1 class="">Triaso® 'Total air'</h1>
        <h1 class="text-red-600">Burners</h1>
        <div class="mt-4 mb-6 flex">
            <div class="w-20 h-0.5 bg-red-500"></div>
            <div class="w-20 h-0.5 bg-gray-300"></div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center">
        <video src={BurnerVideo} autoplay class="w-1/2"></video>
        <h2 class="font-bold text-center">From 6 to 125 million Btu/Hr, with preheater and filter</h2>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-10">
        <div class="font-semibold text-sm md:text-base bg-white p-4 rounded-xl shadow-2xs text-grisPPP">
            <p>Our burners regulate <strong class="text-black">100% of the air for combustion</strong> without 
            relying on the drum's exhaust system. This ensures total 
            combustion and <strong class="text-black">100% fuel utilization</strong>, effectively preventing 
            various types of problems.
            </p>
            <ul class="pl-4 pt-4">
                <li class="list-disc">Atmospheric pollution.</li>
                <li class="list-disc">Contamination of the asphalt mix with unburned fuel.</li>
                <li class="list-disc">Clogging in the baghouse and a high risk of fire.</li>
            </ul>
        </div>
        <div class="font-semibold text-sm md:text-base bg-white p-4 rounded-xl shadow-2xs text-grisPPP">
            <p><strong class="text-black">Low NOx emissions </strong>(nitrogen oxides), a greenhouse gas that is highly regulated in most regions. 
                It can be equipped with a flame protection system to reduce NOx to levels allowed by the 
                authorities in your region.
            </p>
            <ul class="pl-4 pt-4">
                <li class="list-disc">Sealed installation, without cold air inlets, saving the fuel used to heat it, allowing for precise and efficient carburation.</li>
                <li class="list-disc">Efficiency is not affected by changes in weather temperature throughout the day.</li>
                
            </ul>
        </div>
    </div>
    <button class="bg-redBg hover:redBgHover max-w-[130px] text-white mt-5 rounded-2xl py-1 px-4" aria-label="Learn more about our Heating System">Learn more</button>
    
    </section>
    <div class="flex flex-col items-center justify-center mt-10">
        <h1 class="lg:text-3xl text-xl w-full text-start mb-4">OIL HEATERS</h1>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
            <div class="flex flex-col gap-4 border-t-black border-t">
                <p class="text-grisT lg:text-lg text-base mt-4 text-justify">Designed for precise temperature control, 
                    the oil heater ensures uniform heat distribution through advanced thermal oil circulation.
                     Its robust construction supports continuous operation, making it ideal for demanding applications
                      that require consistent performance and energy efficiency.</p>
                <Image src={img1} alt=""/>
            </div>
            <div class="flex flex-col gap-4 p-6 bg-white rounded-2xl items-start justify-start h-min">
                <h1 class="text-blueMain lg:text-xl text-lg">Oil Heater option available instead of direct-fire heating system in asphalt 
                    storage tanks.</h1>
                <ol class="lg:text-base text-sm font-normal pl-8 list-disc 2xl:px-20 leading-7">
                    <li>With heating capacities of 1,000,000 and 2,400,000 Btu/Hr.</li>
                    <li>Includes a high-efficiency 2” diameter coil system inside the asphalt tank.</li>
                    <li>Connections for asphalt tankers with coil heating systems.</li>
                    <li>Thermally insulated with ceramic fiber.</li>
                    <li>Stainless steel exterior sheet covering.</li>
                    <li>Equipped with a diesel burner.</li>
                    <li>Automatic on/off control based on temperature.</li>
                    <li>Two operating modes: Automatic and Manual.</li>
                    <li>Digital thermometers with programmable set point for burner activation and shutoff.</li>
                    <li>Siemens PLC-based control system.</li>
                    <li>100-liter (26.4-gallon) thermal oil expansion tank.</li>
                    <li>100% duty cycle.</li>
                    <li>Includes safety systems and automatic shutdown in case of errors.</li>
                </ol>

            </div>

        </div>

    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-x-44 mt-10 text-grisT lg:text-lg text-base">
        <div class="bg-white rounded-2xl p-4">
            <h1>Precision Temperature Control</h1>
            <p class="font-normal">Maintains exact temperatures with a tolerance of ±1°C, 
                ensuring optimal conditions for material processing.
            </p>
        </div>
        <div class="bg-white rounded-2xl p-4">
            <h1>Customizable Heating Capacity: </h1>
            <p class="font-normal">Tailored to meet specific project needs, 
                from small-scale operations to large industrial requirements.
            </p>
        </div>
        <div class="bg-white rounded-2xl p-4">
            <h1>High-Efficiency Burners:</h1>
            <p class="font-normal">Equipped with low-NOx burners that reduce emissions while maximizing fuel efficiency.
            </p>
        </div>
        <div class="bg-white rounded-2xl p-4">
            <h1>Thermal Oil Circulation System: </h1>
            <p class="font-normal">Ensures even heat distribution across the entire system,
                 preventing hot spots and material degradation.
            </p>
        </div>
    </div>
    <LearnBtn />
    
</div>
