---
import Img from "../../assets/images/soldadura.webp";
import Image from "astro/components/Image.astro";
import LastSection from "../../components/AboutPages/Manufacture/LastSection"
---

<div
  class="w-full max-w-7xl mx-auto px-8 mt-10 md:mt-20 flex flex-col min-h-10/12 mb-1"
>
  <h1 class="text-xl md:text-4xl font-bold mb-5">
    100% <span class="text-[#00840d]">Mexican</span>
    <br /> Manufacturers
  </h1>
  <h2 class="text-base md:text-xl font-bold mb-5 text-grisT">
    TRIASO MANUFACTURES DIRECTLY, WE DON´T HAVE SUBCONTRACTORS
  </h2>
  <p class="font-bold text-gris5 text-sm md:text-lg mb-5 text-justify">
    At Triaso, no other asphalt plant manufacturer in the world produces as many
    components for its own equipment as we do. Unlike others,<span
      class="text-black"
      >we manufacture directly without subcontractors
    </span>, ensuring that every part meets our strict quality standards. <br />
    <br /> This approach allows us to provide <span class="text-black"
      >the best service, warranty, and direct support</span
    >, both from our team in Mexico and our USA distributor. Most brands only
    produce a few components, relying heavily on external suppliers and merely
    assembling the equipment in their facilities.
  </p>
  <br />
  <h2 class="text-blueMain font-bold text-lg md:text-xl text-center">
    By manufacturing the majority of our components, we achieve significant
    advantages
  </h2>
</div>

<div class="flex- justify-center">
  <LastSection/>
</div>
