---
import LearnBtn from "../../unitComponents/LearnBtn.astro";
---

<section>
    <div>
        <h1>
            Design and manufacture of equipment tailored to your needs or ideas
        </h1><br>
        <p>
            We have the availability, experience, and agility to design and manufacture
             custom equipment tailored to your needs or ideas, utilizing our extensive design
              library or creating entirely original solutions
        </p>
    </div>
    <div>
        <h2>
            With this, we can meet highly specialized needs for
        </h2>
        <div>
            <div>
                <p></p>
            </div>
        </div>
    </div>
    <div>
        <h2>
            With this, we can meet highly specialized needs for
        </h2>
        <div>
            <div>
                <p></p>
            </div>
        </div>
    </div>
    <div>
        <LearnBtn></LearnBtn>
    </div>
    <div>
        <h1>
            We have specialized departments in each of the necessary areas.
        </h1>
        <div>
            <div>
                <h2>
                    Design department
                </h2>
                <p>
                    With 12 professionals constantly working on special orders, new series designs, improvements
                     to current designs, new products, and technologies, who continuously receive field feedback on
                      the performance of the equipment with their designs for continuous improvement.
                </p>
            </div>
        </div>
    </div>
</section>