<section class="w-full mt-28 text-grisT font-bold px-8 md:px-52">
    <div class="w-full flex justify-end">
        <div class="border-b-2 border-b-grisT inline-block justify-end">
            <h1 class="text-end text-3xl md:text-4xl">
                MANUFACTURE
            </h1>
        </div>
    </div>
    <div class="w-full my-16 text-base md:text-lg">
        <p>
            At Triaso, no other asphalt plant manufacturer in the world produces as many components
             for its own equipment as we do. Unlike others,<span class="text-black"> we manufacture directly without subcontractors </span>,
              ensuring that every part meets our strict quality standards.

        </p><br>
        <p>
            This approach allows us to provide<span class="text-black"> the best service, warranty, and direct support </span>, both from our team
             in Mexico and our USA distributor. Most brands only produce a few components, relying heavily on external
              suppliers and merely assembling the equipment in their facilities.
        </p>
    </div>
    <div class="w-full">
        <h2 class="text-center text-2xl md:text-3xl text-redBg">
            TRIASO MANUFATURES DIRECTLY, WE DON´T HAVE SUBCONTRACTORS
        </h2>
    </div>
</section>