---
import DMVideo from "../../assets/images/DrumMixers/DMVideo.mp4";
import baghouse from "../../assets/images/DrumMixers/Low/bagHouses1Low.webp";
import baghouse2 from "../../assets/images/DrumMixers/baghouse2.webp";
import { Image } from "astro:assets";
import SeparatorBlue from "../unitComponents/SeparatorBlue.astro";
---

<div class="flex justify-center">
  <div class="max-w-7xl px-8 flex flex-col text-grisT font-bold gap-6">
    <div>
      <h1 class="w-full text-start text-2xl md:text-4xl lg:mb-10">
        INTEGRATED BAGHOUSES
      </h1>
    </div>
    <div class="max-w-7xl">
      <SeparatorBlue />
    </div>
    <div class="max-w-7xl">
      <p class="text-base md:text-lg">
        Baghouses are crucial for controlling dust and maintaining air quality
        in industrial settings. They efficiently capture particulate matter,
        ensuring compliance with environmental standards and creating a safer
        work environment. Ideal for industries like asphalt plants and aggregate
        processing, baghouses offer reliable, long-lasting performance.
      </p>
    </div>
  </div>
</div>

<div
  class="w-full flex flex-col items-center justify-center text-grisT font-bold mt-20 gap-0 md:gap-6"
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-10 w-full"
  >
    <div
      class="px-8 lg:pl-52 bg-white border-black border-2 md:rounded-r-2xl py-10"
    >
      <h2 class="text-black text-xl md:text-2xl">
        Ranging from 4,000 to 90,000 ACFM Capacity
      </h2><br />
      <p>
        The baghouses are highly efficient at capturing fine particles,<span
          class="text-black"
        >
          achieving up to 99.99% filtration</span
        >. Total and homogeneous return of fines to the hot-mix to optimize its
        quality and pavement life.
      </p><br />
      <p>
        Their advanced filtration system ensures cleaner air, contributing to a
        greener, more eco-conscious workplace.
      </p>
    </div>
    <div class="flex flex-col items-center justify-center px-8 lg:pr-52">
      <Image src={baghouse} alt="Baghouse" class="w-full" />
    </div>
  </div>
  <div class="max-w-[2400px] w-full flex justify-center items-center">
    <div
      class="w-full flex flex-col md:grid md:grid-cols-5 text-white my-0 md:my-10 justify-center"
    >
      <div class="w-full h-full md:col-span-2">
        <Image src={baghouse2} alt="" class="w-full h-full object-cover" />
      </div>
      <div
        class="w-full md:col-span-3 bg-blueMain px-8 lg:pr-52 py-6 lg:py-0 flex flex-col justify-center md:rounded-l-2xl h-full"
      >
        <h2 class="text-xl md:text-2xl mb-4 text-start">
          Mechanism of baghouses available in pulse jet and reverse jet
        </h2>
        <p class="text-grisSubP mb-4 md:mb-0">
          <span class="text-white">Pulse Jet:</span> A cleaning system that uses short
          bursts of compressed air to dislodge dust and debris from the filter bags,
          maintaining continuous airflow and filtration efficiency.
        </p><br />
        <p class="text-grisSubP">
          <span class="text-white">Reverse Air:</span>
          A cleaning system that directs low-pressure air in the opposite direction
          to remove dust from the filter bags, typically used in larger baghouses
          or high-dust applications.
        </p>
      </div>
    </div>
  </div>

  <div
    class="w-full flex justify-center items-center gap-10 px-8 md:px-52 bg-grisT py-10 bg-[url('/Gallery/telasDrum.webp')]"
  >
    <div>
      <h2 class="text-lg md:text-xl text-white">
        Different Types of Filter Bags and Their Specific Applications:
      </h2>
      <ul class="list-disc pl-6 text-grisSubP">
        <li>Polyester</li>
        <li>Nomex</li>
        <li>Polyamide (P84)</li>
      </ul>
    </div>
  </div>
  <div class="max-w-7xl px-8 mx-auto flex justify-center">
    <video
      class="lg:w-4/5 md:w-4/5"
      playsinline
      controls
      poster="/Gallery/customdes.webp"
      preload="metadata"
      width="1280"
      height="720"
    >
      <source src="/Videos/Webm/DMVideo.webp" type="video/webm" />
      <source src="/Videos/Mp4/DMVideo.mp4" type="video/mp4" />
    </video>
  </div>
</div>
