<div class="w-full px-8 lg:px-52 mt-20 md:mt-32 font-bold">
    <h1 class="text-2xl lg:text-4xl text-grisT">DRUM MIXERS</h1><br>
    <p class="text-base md:text-lg text-grisT text-justify">
        Triaso’s drum mixers are engineered for continuous, efficient asphalt production,
         combining drying and mixing into a single, streamlined process. Designed for
          durability and consistent performance, they ensure precise heat transfer and 
          thorough blending of materials—resulting in a uniform, high-quality mix. With 
          robust construction and low-maintenance components, our drum mixers are ideal 
          for both relocatable plants and mobile applications, delivering reliable 
          production batch after batch.
    </p>
    <br>
    <h1 class="text-base md:text-lg text-grisT text-justify">video</h1>
    <div class="bg-white p-8 rounded-2xl flex flex-col items-center justify-center my-10">
        <p class="font-light">
            The Triaso drum mixer uses a counterflow design that enhances both drying 
            and mixing efficiency. Its removable flight system optimizes the process,
             and with a VFD speed control, it achieves more efficient fuel usage and 
             lower stack temperatures. This results in reduced operating costs and a 
             smaller environmental footprint, all while maintaining maximum performance 
             with minimal energy consumption.
        </p>
        <div class="grid grid-cols-3 md:grid-cols-6 items-start justify-around gap-5 my-10 w-full">
            <div class="flex flex-col items-center justify-center font-light">
                <img src="" alt="">
                <p>Inlet Flight</p>
            </div>
            <div class="flex flex-col items-center justify-center font-light">
                <img src="" alt="">
                <p>Inlet Flight</p>
            </div>
            <div class="flex flex-col items-center justify-center font-light">
                <img src="" alt="">
                <p>Inlet Flight</p>
            </div>
            <div class="flex flex-col items-center justify-center font-light">
                <img src="" alt="">
                <p>Inlet Flight</p>
            </div>
            <div class="flex flex-col items-center justify-center font-light">
                <img src="" alt="">
                <p>Inlet Flight</p>
            </div>
            <div class="flex flex-col items-center justify-center font-light">
                <img src="" alt="">
                <p>Inlet Flight</p>
            </div>
        </div>

    </div>

</div>