---
import Separator from '../unitComponents/Separator.astro';
import img1 from '../../../public/Gallery/drum-mixer.jpg';
import img2 from '../../assets/images/AsphaltPlant/Aislamiento.png';
import img3 from '../../assets/images/AsphaltPlant/render.png';
import img4 from '../../assets/images/DrumMixers/plantaLim.png';
import gif from '../../assets/images/DrumMixers/singlegift.gif';
import drumT from '../../assets/images/DrumMixers/drumT.png';
import reinfo from '../../assets/images/DrumMixers/extrareinfo.jpg';
import obracivil from "../../assets/images/DrumMixers/obracivil.jpg";
import obracivil2 from "../../assets/images/DrumMixers/obracivil2.jpg";
import Image from 'astro/components/Image.astro';
import TComponent from '../unitComponents/TComponent.astro';
import AcordeonItem from '../unitComponents/AcordeonItem';
---
<div class="w-full flex flex-col items-center justify-center font-bold my-20">
    <div class="lg:px-52 px-8">
        <h1 class="text-redBg text-xl md:text-3xl">The One and Always</h1><br>
        
    </div>
    <div class="w-full lg:px-52 px-8">
        <img src={obracivil.src} alt="" class="rounded-2xl"/>
    </div>
    <div class="w-full flex lg:px-52 px-8 my-10">
        <div class="w-full px-20">
            <h2 class="text-black text-lg md:text-xl">Engineered for Demanding Producers. Built for Performance.</h2><br>
            <p class="text-grisT text-base md:text-lg text-justify">At Triaso, we know that no two asphalt operations are alike. That’s why our plants
             aren’t off-the-shelf solutions—they’re precision-engineered systems tailored to 
             meet your specific production needs. From rugged construction built to endure 
             years of intensive use, to smart configurations that enhance efficiency and 
             safety, every component serves a clear purpose.
            <br><br>
            With a range of capacities and fully customizable features, our plants adapt 
            to your operation—not the other way around. Whether you're expanding capacity
             or optimizing your process, Triaso delivers the flexibility, performance, and 
             reliability you need to stay ahead in a competitive market.</p>
        </div>
        <div>
            <img src={obracivil2.src} alt="" class="rounded-2xl"/>
        </div>
    </div>
    <div class="w-full lg:px-52 px-8">
        <img src={obracivil.src} alt="" class="rounded-2xl"/>
    </div>
    <div class="w-full flex flex-col gap-3 my-10">
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">Precision where it matters. </h2>
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">Strength that lasts. </h2>
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">Flexibility when it counts. </h2>
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">That’s the Triaso promise. </h2>
    </div>
    <div class="md:mx-52 mx-8 p-4 flex flex-col items-center justify-center bg-white rounded-2xl">
        <h2 class="text-2xl md:text-3xl">Retractable Elevator for Efficient Transport and Operation
            </h2>
        <div class="">
            <div>
                <h1>VIDEO</h1>
            </div>
            <p class="text-grisT text-justify">
                Triaso’s vertical elevator is designed with a retractable configuration that complies 
                with DOT transportation height limits, ensuring safe and legal road transport. 
                Once the drum mixer is installed on-site, the elevator extends to its full operational height,
                 allowing for efficient material transfer with minimal setup time. 
                 This smart design improves logistics while maintaining high performance during loading and 
                 discharge.
            </p>
        </div>
    </div>
    <div class="w-full space-y-3 my-6">
        <div class="h-0.5 bg-redBg w-1/5 self-start"></div>
        <div class="h-0.5 bg-blueMain w-1/4 pr-6 self-start"></div>
    </div>
    <h2 class="text-2xl md:text-3xl text-center text-redBg mt-10">With Triaso, Become the Exclusive Provider
             of Hot Mix <br> for All Paving Projects in Your Region
        </h2>
    <Image src={img3} alt="" class="mt-10"/>
    <TComponent />
    <div class="w-full px-8 md:px-52 flex flex-col gap-3 my-10">
        <AcordeonItem title='Extra-reinforced front shield' content='The Triaso® drum is fully sealed at both ends with extra reinforcement to maintain internal temperatures and maximize combustion efficiency. Heavy-duty steel and EPDM rubber seals prevent the entry of cold air, improving fuel economy and ensuring consistent, high-quality asphalt mixes. The entire drum is sealed to prevent the entry of unwanted cold air, maintaining optimal internal temperatures and combustion efficiency. This airtight design includes an extra-reinforced front shield and sealing components made of heavy-duty steel or EPDM rubber. These materials provide long-lasting durability, resist high temperatures, and ensure that no external air disrupts the controlled environment inside the drum, improving fuel efficiency and mix quality.' client:only/>
        <AcordeonItem title='Optimized Insulation Design' content='The drum mixer is built with high-efficiency mineral wool insulation that maintains consistent internal temperatures throughout the drying and mixing process. This insulation minimizes heat loss, reduces fuel consumption, and ensures the asphalt mix stays at optimal temperature—delivering reliable performance even in demanding weather conditions.' client:only/>
        <AcordeonItem title='Single-Point Adjustment System' content='Triaso® equips all its drum mixers with a centralized trunnion adjustment system designed for fast, precise alignment in the field. Each trunnion base includes a fixed central pivot that keeps the drum tire centered during adjustments, eliminating guesswork and preventing lateral drift. With a single-point adjustment mechanism, operators can easily align the drum without needing to reposition multiple components. This system ensures smoother rotation, reduces wear on tires and rollers, and simplifies maintenance—keeping your plant running efficiently with minimal downtime.' client:only/>
        <AcordeonItem title='Drum Tires & Trunnions' content='Triaso® equips all its drum mixers with a centralized trunnion adjustment system designed for fast, precise alignment in the field' client:only/>
        <AcordeonItem title='Triaso Thrust Rollers' content='Triaso® equips all its drum mixers with a centralized trunnion adjustment system designed for fast, precise alignment in the field' client:only/>
    </div>

</div>