---
import img1 from '../../../public/Gallery/drum-mixer.jpg';
---
<div class="w-full flex flex-col items-center justify-center font-bold mt-20">
    <div class="lg:px-52 px-8">
        <h1 class="text-redBg text-xl md:text-2xl">The One and Always</h1><br>
        <h2 class="text-black text-lg md:text-xl">Engineered for Demanding Producers. Built for Performance.</h2><br>
        <p class="text-grisT text-base md:text-lg text-justify">At Triaso, we know that no two asphalt operations are alike. That’s why our plants
             aren’t off-the-shelf solutions—they’re precision-engineered systems tailored to 
             meet your specific production needs. From rugged construction built to endure 
             years of intensive use, to smart configurations that enhance efficiency and 
             safety, every component serves a clear purpose.
            <br><br>
            With a range of capacities and fully customizable features, our plants adapt 
            to your operation—not the other way around. Whether you're expanding capacity
             or optimizing your process, Triaso delivers the flexibility, performance, and 
             reliability you need to stay ahead in a competitive market.</p>
    </div>
    <h2 class="text-blueMain text-xl lg:text-2xl my-10 text-center">Precision where it matters. Strength that lasts.
         Flexibility when it counts. <br> That’s the Triaso promise.
    </h2>
    <div class="bg-blueMain w-full">
        <div class="flex h-[150px]">
            <img src={img1.src} alt="" class="">
            <div class="bg-grisT p-8 text-white my-6 flex h-full">
                <p>We give you options to match your project demands—offering drum shells 
                    in 5/16", 3/8" or 1/2" thicknesses. Every shell, no matter the gauge, 
                    is manufactured in-house using high-strength A-572 alloy steel to ensure 
                    consistent durability and performance.</p>
            </div>
        </div>
        

    </div>

</div>