---
import LearnBtn from "../unitComponents/LearnBtn.astro";
import stationary from '../../assets/images/DrumMixers/stationary.png';
import rap from '../../assets/images/DrumMixers/rap.png';
import rapBin from '../../assets/images/DrumMixers/rapBin.png';
import Image from "astro/components/Image.astro";

---
<div class="w-full flex flex-col items-center justify-center font-bold">
    <div class="w-full bg-[#2b2b2b] text-white flex flex-col gap-6 justify-center pt-10">
        <div>
            <h2 class="px-8 md:px-52">Always matching your project</h2>
            <br>
            <p class="px-8 md:px-52 font-thin">
                We give you options to match your project demands—offering drum shells in 5/16", 3/8" or 1/2" thicknesses. 
                Every shell, no matter the gauge, is manufactured in-house using high-strength A-572 alloy steel to ensure consistent
                 durability and performance.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 justify-between items-center w-full text-white px-8 md:px-52">
            <div class="flex flex-col items-center justidy-center py-6">
                <img src="" alt="">
                <h2 class="w-full text-start">TRUNNIONS</h2><br>
                <p>Heavy-duty trunnions built with precision-machined 
                    steel and fitted with industrial bearings for smooth, stable drum rotation.</p>
            </div>
            <div class="flex flex-col items-center justidy-center py-6">
                <img src="" alt="">
                <h2 class="w-full text-start">DRUM TIRES</h2><br>
                <p>Forged from high-strength alloy steel and machined for accuracy,
                    ensuring reliable support and quiet, consistent operation.</p>
            </div>
        </div>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 px-8 md:px-52 bg-gradient-to-b from-[#2b2b2b] to-[#727272]">
            <div class="flex justify-center">
                <img src={rap.src} alt="" class="max-w-[350px]">
            </div>
            <div class="w-full flex flex-col items-center justify-center">
                <h2 class="w-full text-start text-2xl md:text-3xl">RAP COLLAR & BIN</h2><br>
                <p class="text-justify">
                    The specialized drum collar is designed to ensure the controlled and efficient entry of Recycled Asphalt Pavement (RAP)
                     into the mixing zone. Fed directly from the RAP bins through a dedicated conveyor, the material enters 
                     the drum smoothly and precisely.
                </p>
            </div>
        </div>
    </div>
    
    <h1 class="text-xl md:text-3xl my-10">Stationary and Mobile Drum Mixers</h1><br>
    <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-10 w-full text-white">
        <div class="px-8 md:pl-52">
            <Image src={stationary} alt=""/>
        </div>
        <div class="flex flex-col items-center justify-between gap-10">
            <div class="bg-blueMain p-8 md:rounded-l-2xl pr-8 lg:pr-52">
                <h2 class="text-end w-full">STATIONARY DRUM MIXERS</h2><br>
                <p>
                    Durable and easy to move, the drum mixers are
                     built for long-term use with heavy steel supports that eliminate the need
                      for concrete foundations.
                </p>
            </div>
            <div class="bg-grisT p-8 md:rounded-l-2xl pr-8 lg:pr-52">
                <h2 class="text-end w-full">MOBILE DRUM MIXERS</h2><br>
                <p>
                    Perfect for remote job sites, these mixers provide quick setup, portability,
                     and high-output production while remaining cost-effective.
                </p>
            </div>

        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center w-full gap-10 my-20 px-8 lg:px-52">
        <div>
            <img src="" alt="">
        </div>
        <div class="flex flex-col items-start justify-center">
            <h2 class="text-lg md:text-2xl">TRIASO THRUST ROLLERS</h2><br>
            <div class="bg-white rounded-2xl p-4">
                <h2>Built to Move. Designed to Last</h2>
                <p class="text-grisT text-justify">
                    Triaso drum mixers rotate on solid one-piece forged steel tires, delivering the strength and
                     reliability needed for continuous operation. These tires are secured using bolt-on spring 
                     plate assemblies that flex with thermal expansion, preventing stress and distortion during
                      high-temperature cycles.
                </p>
            </div>
        </div>
    </div>
    <p class="px-8 lg:px-52 text-grisT text-justify text-base lg:text-lg">To maintain proper alignment and stability during rotation, each unit includes dual guide rollers.
         This system ensures smooth, centered operation throughout the production process, reducing wear
          and preserving the integrity of the entire assembly. Rugged, responsive, and engineered for 
          long-term performance.
    </p>
    <h1 class="my-10 text-xl md:text-3xl px-8">The most versatile and mobile drum mix on the market</h1>
    <h1 class="w-full items-start text-xl md:text-3xl px-8 lg:px-52 mt-20 mb-10">RAP COLLAR & BIN</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 justify-center items-center gap-10 w-full px-8 lg:px-52">
        <div class="col-span-1">
            <Image src={rap} alt=""/>
        </div>
        <div class="col-span-2 text-grisP">
            <p>The specialized drum collar is designed to ensure the controlled and efficient entry of 
                Recycled Asphalt Pavement (RAP) into the mixing zone. Fed directly from the RAP bins through
                 a dedicated conveyor, the material enters the drum smoothly and precisely.
            </p><br>
            <p>
                Strategically positioned, the collar introduces RAP downstream of the burner flame,
                 avoiding excessive heat exposure that could damage the recycled material or cause blue smoke emissions.
            </p><br>
            <p>
                Its engineered shape promotes a steady, turbulence-free flow, allowing for even distribution
                 and thorough blending with superheated virgin aggregates. This results in a consistent final
                  mix with improved cohesion and overall performance.
            </p><br>
            <p>
                By maintaining temperature control and maximizing contact between old and new materials,
                 the drum collar plays a critical role in preserving RAP quality, increasing recycled content percentages,
                  and supporting both cost-effective and environmentally conscious asphalt production.
            </p>
        </div>
    </div>
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 justify-center items-center gap-10 bg-white px-8 lg:px-52 my-20 py-10">
        <div class="flex flex-col items-center justify-center">
            <h2 class="w-full text-start">RAP Bins</h2><br>
            <p class="text-grisP text-justify">
                Triaso® RAP bins are designed to efficiently handle and transport recycled asphalt pavement (RAP) 
                in asphalt plants. Built for durability, they ensure a consistent and reliable flow of material,
                 enabling seamless integration into your plant's production process. With their robust construction,
                  Triaso® RAP bins can handle the heavy, abrasive nature of RAP, reducing downtime and ensuring high operational efficiency.
            </p>
            <LearnBtn />
        </div>
        <div>
            <Image src={rapBin} alt="Rap Bin">
        </div>
    </div>
</div>