---
import Tred from "../../assets/images/AsphaltStorage/redT.png";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import Tolva from "../../assets/images/BinUnits/TolvaConfCompl.png"; 
import rap from '../../assets/images/DrumMixers/rap.png';
---
<section class="w-full mt-28">
    <div class="w-full px-8 md:px-52 mb-10">
        <h1 class="text-3xl md:text-4xl font-bold text-grisT text-end">
            RAP (RECYCLED ASPHALT PAVEMENT)
        </h1>
    </div>
    <div class="w-full px-8 md:px-52 text-base md:text-lg font-bold text-grisT">
        <p>
        RAP (Reclaimed Asphalt Pavement) is the asphalt pavement recovered through milling. It is fully suitable for
         recycling by incorporating it into new asphalt mixes, taking advantage of both its aggregates and the asphalt
          it contains.
        </p><br>
        <p>
            Reusing its asphalt is what enables significant cost savings in the asphalt mix where it is utilized.
            An asphalt mix with RAP incorporated has a much lower production cost compared to one without RAP.
            This is why RAP usage has been growing rapidly in recent years on a global scale.
        </p><br>
        <p>
            We offer everything you need to work with RAP, from modifications to your existing asphalt plant to 
            a new plant specialized in cost-effective RAP production.
        </p>
    </div>
    <div class="w-full px-8 md:px-52 py-10">
        <img src="" alt="">
    </div>
    <div class="w-full px-8 md:px-52">
        <h2 class="w-full text-base md:text-lg font-bold text-black">
            The use of RAP, Reclaimed Asphalt Pavement, in the production of asphalt mixes is a growing global trend due to its significant
             cost reduction—mainly from the reuse of the asphalt already present in the RAP.
        </h2><br>
        <p class="w-full text-base md:text-lg font-thin text-grisT">
            In the United States, using 10% RAP typically reduces asphalt mix production costs by around 5–7%, depending on 
            local material prices and project conditions. The main challenge in incorporating RAP into asphalt mixes
            lies in heating it within the asphalt plant, as it cannot come into direct contact with the burner flame;
            otherwise, the asphalt in the RAP would burn and become unusable.
        </p><br>
        <p class="w-full text-base md:text-lg font-thin text-grisT">
            For this reason, there are two main methods for incorporating and heating RAP:
        </p>
        <ul class="w-full ml-6 list-disc text-base md:text-lg font-thin text-grisT">
            <li>Direct incorporation into the pugmill; external heating.</li>
            <li>Incorporation for heating inside the drum; internal heating.</li>
        </ul>
    </div>
    <div class="w-full bg-bgBeige px-8 md:px-52 py-10">
        <h2 class="w-full text-xl md:text-2xl font-bold text-grisT text-center">
            Incorporation into the Drum for Internal Heating
        </h2><br>
        <p class="text-center text-base md:text-lg font-thin text-grisT">
            This method is more complex, but allows for any percentage of RAP that can be properly heated and discharged,
             depending on the internal flight design and RAP path inside the drum. <br><br>
             The RAP must be introduced at a point in the drum where it does not come into direct contact with the burner
              flame, so the asphalt it contains does not burn and become unusable.
        </p>
    </div>
    <div class="w-full bg-blueMain px-8 md:px-52 py-10 font-bold flex flex-col gap-10">
        <div class="w-full grid grid-cols-1 md:grid-cols-3">
            <div class="w-full col-span-2 text-white">
                <h1 class="text-2xl md:text-3xl">RAP BIN</h1><br>
                <p class="text-base md:text-lg">
                    At TRIASO, we introduce the RAP through a collar located at an intermediate 
                    point in the drum. From this point on, the RAP never touches the burner flame and is heated by three simultaneous
                     mechanisms:
                </p>
                <ul class="text-base md:text-lg ml-6 list-disc">
                    <li>Direct contact with the preheated virgin aggregate from earlier in the drum.</li>
                    <li>Exposure to the hot gases flowing through the drum.</li>
                    <li>Direct contact with heated internal plates, known as comales, which absorb radiant heat from the burner flame.</li>
                </ul><br>
                <p class="text-base md:text-lg">
                    With this triple-heating system, TRIASO is able to incorporate up to 40% RAP.
                </p>
            </div>
            <div class="col-span-1">
                <img src={Tolva.src} alt="">
            </div>
        </div>
        <div class="w-full grid grid-cols-1 md:grid-cols-3 text-white">
            <div class="col-span-1">
                <img src={rap.src} alt="" class="w-3/4">
            </div>
            <div class="col-span-2 flex flex-col justify-center">
                <h2 class="text-2xl md:text-3xl">RAP COLLAR</h2><br>
                <p class="text-base md:text-lg">
                    The specialized drum collar is designed to ensure the controlled and efficient entry
                     of Recycled Asphalt Pavement (RAP) into the mixing zone. Fed directly from the RAP bins
                      through a dedicated conveyor, the material enters the drum smoothly and precisely.
                </p>
            </div>
        </div>
        <div class="w-full grid grid-cols-1 md:grid-cols-3 text-white">
            <div class="col-span-1">
                <h2 class="text-lg md:text-xl">
                    DRUM MIX MODIFICATION FOR RAP
                </h2><br>
                <p class="font-thin text-base md:text-lg">
                    For recycled asphalt pavement (RAP), dedicated RAP entry flights are used, to gently introduce RAP into 
                    the hot aggregate stream. Their shape allows short, even drops that maximize heat transfer while minimizing
                     blue smoke and material buildup.
                </p>
            </div>
            <div class="col-span-2">
                <h1 class="text-2xl md:text-3xl text-end">RAP ENTRY FLIGHTS</h1>
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="w-full text-white text-base md:text-lg">
            <p>
                Note: Some other asphalt plant brands also have a collar located at an intermediate point in the drum,
                 but positioned farther downstream—starting where internal mixing begins. This prevents the use of comales,
                  so they do not benefit from radiant heat, and only achieve slightly higher RAP incorporation than direct pugmill methods.
            </p><br>
            <p>
                A dedicated drum can be used exclusively for heating RAP, while a separate drum heats the virgin aggregate.
                 The two materials are then blended in a pugmill.
            </p><br>
            <p>
                This method allows for the highest RAP percentages, but requires two drums instead of one, resulting
                 in significantly higher equipment costs.
            </p>
        </div>
    </div>
    <div class="w-full px-8 md:px-52 bg-gradient-to-b from-blueMain to-bgMain py-10">
        <h1 class="text-redBg font-bold text-2xl md:text-3xl text-center">
            Call us — we have RAP experts who will gladly advise you.
        </h1>
    </div>
    <div class="w-full px-8 md:px-52 my-10">
        <h2 class="text-xl md:text-2xl text-black font-bold">
            Direct Incorporation into the Pugmill 
        </h2><br>
        <p class="text-base md:text-lg text-grisT font-bold">
            This method is the simplest, but no more than 5% RAP can be added.
            This is because the RAP is heated only through contact with the hot virgin aggregate exiting the dryer drum.
        </p><br>
        <p class="text-base md:text-lg text-grisT font-bold">
            The virgin aggregate must be overheated to a level that allows it to transfer enough heat to the RAP within the
             short mixing time inside the pugmill. Reclaiming the asphalt in RAP requires a combination of high temperature
              and aggressive mixing.
        </p><br>
        <p class="text-base md:text-lg text-grisT font-bold">
            In practice, it has been found that adding more than 5% RAP into the pugmill leads to poor-quality asphalt mix.
        </p>
    </div>
    <TwoColumnSection
                leftBg="bg-redBg"
                rightBg="bg-blueMain"
                imageSrc={Tred.src}
                imageAlt="Red T icon"
                imageWidth="150px"
                >
                    <div slot="left" class="flex flex-col justify-center gap-3">
                        <h1 class="text-xl md:text-2xl">INCORPORATING RAP FEEDERS</h1>
                        <p class="text-base md:text-lg">
                            By incorporating Triaso® RAP Feeders, asphalt plants can enhance RAP utilization, improve mix consistency,
                             and support sustainable production by efficiently reintegrating recycled materials into the asphalt mix.
                        </p>
                    </div>
                    <div slot="right" class="flex flex-col justify-center gap-3">
                        <h1 class="text-xl md:text-2xl">
                            AVAILABLE IN 10 OR 25-TON <br>CAPACITY BINS
                        </h1>
                        <p class="text-base md:text-lg">
                            With configurations of one, two, or three RAP bin units
                        </p>
                    </div>
    </TwoColumnSection>
</section>