---
import Card from "../unitComponents/Card.astro";
import img1 from "../../assets/images/ColdMix/PlaMFDscC.png";

---
<div class="w-full flex flex-col items-center justify-center px-8 md:px-32 gap-6">
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6 justify-between items-center font-bold mt-6">
        <Card>
          <div>
            <img src="" alt="">
          </div>
            <h2 class="text-lg md:text-xl">What is a Cold Mix Plant?</h2><br>
            <p class="text-grisP">Cold mix asphalt plants are designed for blending aggregates and asphalt emulsions 
                at ambient temperatures, eliminating the need for heating. Using a pugmill mixer, 
                they ensure a uniform, high-quality mix ideal for a wide range of road maintenance 
                and construction applications.</p>
        </Card>
        <Card>
            <h2 class="text-lg md:text-xl">Versatile discarge level</h2><br>
            <p class="text-grisP">Cold mix asphalt plants are designed according to the user's discharge height requirements, 
              with the option of ground-level discharge for needed projects, or elevated discharge for direct loading into trucks for
               bulk applications</p>
                <div>
                  <img src={img1.src} alt="">
                </div>
        </Card> 
    </div>

</div>
