---
import Card from "../unitComponents/Card.astro";
import img1 from "../../assets/images/ColdMix/PlaMFDscC.webp";
import img2 from "../../assets/images/ColdMix/CMWhats.webp";
---

<div
  class="w-full flex flex-col items-center justify-center max-w-7xl mx-auto px-8 gap-10"
>
  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 gap-6 justify-between items-stretch font-bold mt-6"
  >
    <Card>
      <div>
        <img src={img2.src} alt="" />
      </div>
      <h2 class="text-lg md:text-xl">What is a Cold Mix Plant?</h2><br />
      <p class="text-grisP">
        Cold mix asphalt plants are designed to blend aggregates and liquid
        emulsions at ambient temperature, eliminating the need for heating.
        Using a pugmill mixer, they produce a uniform, durable mix.
      </p>
    </Card>
    <Card>
      <h2 class="text-lg md:text-xl">Versatile discarge level</h2><br />
      <p class="text-grisP">
        Cold mix asphalt plants are designed according to the user's discharge
        height requirements, with the option of ground-level discharge for
        needed projects, or elevated discharge for direct loading into trucks
        for bulk applications.
      </p>
      <div>
        <img src={img1.src} alt="" />
      </div>
    </Card>
  </div>
</div>
