---
import Separator from "../unitComponents/Separator.astro";
import img1 from '../../assets/images/BagHouses/GallerySlider/BHG1.webp';
---
<section class="w-full px-8 md:px-32 flex flex-col justify-center items-center font-bold mt-20 md:mt-32">
    <div class="w-full flex flex-col justify-start">
        <h1 class="text-2xl md:text-3xl">
            Triaso® Baghouses
        </h1>
        <Separator></Separator>
    </div>
    <div class="w-full">
        <p class="text-grisT text-base md:text-lg">
            Triaso® baghouses are designed for efficient dust collection and air quality control in industrial applications.
             Engineered for maximum filtration efficiency, they capture fine particulates ensure compliance with environmental
              regulations while enhancing workplace safety. Designed for asphalt plants and aggregate processing, these self-contained
               and integrated systems offer durable, high-performance air filtration. With advanced cleaning mechanisms and high 
               air-to-cloth ratios, Triaso® baghouses optimize mix quality, extend pavement life, and support sustainable operations
                by reducing airborne dust and pollution.
        </p>
    </div>
</section>