---
import Separator from "../unitComponents/Separator.astro";
import img1 from '../../assets/images/BagHouses/GallerySlider/BHG1.webp';
---
<<<<<<< HEAD
<section class="max-w-7xl px-8 mx-auto flex flex-col justify-center items-center font-bold mt-20 md:mt-32">
=======
<section class="w-full px-8 md:px-32 flex flex-col justify-center items-center font-bold mt-20 md:mt-32">
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
    <div class="w-full flex flex-col justify-start">
        <h1 class="text-2xl md:text-3xl">
            Triaso® Baghouses
        </h1>
        <Separator></Separator>
    </div>
    <div class="w-full">
        <p class="text-grisT text-base md:text-lg">
<<<<<<< HEAD
            Triaso® baghouses are designed for efficient dust collection and air quality control in industrial applications.
             Engineered for maximum filtration efficiency, they capture fine particulates ensure compliance with environmental
              regulations while enhancing workplace safety. Designed for asphalt plants and aggregate processing, these self-contained
               and integrated systems offer durable, high-performance air filtration. With advanced cleaning mechanisms and high 
               air-to-cloth ratios, Triaso® baghouses optimize mix quality, extend pavement life, and support sustainable operations
                by reducing airborne dust and pollution.
=======
            Triaso® baghouses are essential for effective dust control and air quality management in industrial environments.
            Engineered for maximum filtration efficiency, they capture fine particulate matter, ensuring compliance with environmental
            regulations while enhancing workplace safety. Designed for asphalt plants and aggregate processing, these self-contained
            and integrated systems offer durable, high-performance air filtration. With advanced cleaning mechanisms and high
            air-to-cloth ratios, Triaso® baghouses optimize mix quality, extend pavement life, and support sustainable operations
            by reducing airborne dust and pollution.
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
        </p>
    </div>
</section>