---
import LearnBtn from "./LearnBtn.astro";
import Separator from "./Separator.astro";
import sideP from '../../assets/images/DrumMixers/sideP.webp';
---

<div class="w-full bg-blueMain my-10">
    <div class="max-w-7xl px-8 mx-auto text-2xl md:text-4xl font-bold my-10">
            <div class="w-full flex justify-between">
                <div class="w-full">
                    <h1 class="text-white">AESTHETIC SIDE PANELS</h1>
                    <Separator/>
                </div>
                <div class="text-end">
                    <h2 class="text-white">
                    ENHANCE YOUR COMPANY IMAGE <br> WITH TRIASO DESIGN
                    </h2>
                </div>
            </div>
            <div class="w-full  md:w-1/2 lg:w-1/2">
                <p class="text-white text-base md:text-lg">
                    The aesthetic panels are designed not only for visual appeal but
                     to enhance the professional image of your equipment and your company.
                </p>
            </div>
            <div class="my-10 flex flex-col justify-center items-center gap-6">
                <img src={sideP.src} alt="">
                <div class="max-w-[250px]">
                    <LearnBtn/>
                </div>
            </div>
    </div>
</div>