---
export interface Props {
        text?: string;
        className?: string;
        href?: string;
        isExternal?: boolean;
}
const {
        text= "Learn More",
        className = "bg-redBg hover:bg-redBgHover",
        href = "#",
        isExternal= false
}= Astro.props
---
<a href={href}
class=`text-white mt-10 text-sm md:text-lg font-normal rounded-full py-1 px-4 ${className}`
target={isExternal ? "_blank" : "_self"}
rel={isExternal ? "noopener noreferrer" : undefined}>
{text}
</a>