---
import LearnBtn from "./LearnBtn.astro";
---

<section class="w-full py-10 bg-white min-h-[70vh] grid grid-cols-5">
    <div class="col-span-3">
        <h1>OPERATIVE SYSTEM</h1>
        <p>
            TEXT OF OPERATIVER SYSTEM
        </p>
        <div class="w-full grid grid-cols-4 justify-center items-center">
            <div>
                <img src="" alt="">
                <p>Historical REPORTYS</p>
            </div>
        </div>
        <LearnBtn/>
    </div>
    <div class="col-span-2">
        <img src="" alt="">
    </div>
</section>