---
import InfoSection from "./LandinPage/InfoSection.astro"
import MainSection from "./LandinPage/MainSection.astro"
import AsphaltSection from "./LandinPage/AsphaltSection.astro"
import MapaSection from "./LandinPage/MapaSection.astro"
import SpareSection from "./LandinPage/SpareSection.astro"
---
<div class="w-full">
    <MainSection />
    <InfoSection />
    <AsphaltSection />
    <MapaSection/>
    <SpareSection />
</div>