---
import InfoSection from "./LandinPage/InfoSection.astro"
import MainSection from "./LandinPage/MainSection.astro"
import AsphaltSection from "./LandinPage/AsphaltSection.astro"
import MapaSection from "./LandinPage/MapaSection.astro"
import SpareSection from "./LandinPage/SpareSection.astro"
import ManufactuSection from "./LandinPage/ManufactuSection.astro"
import ControlSection from "./LandinPage/ControlSection.astro"
import FuelSection from "./LandinPage/FuelSection.astro"
import DeliverySection from "./LandinPage/DeliverySection.astro"
import TotalAirSection from "./LandinPage/TotalAirSection.astro"
import BroucherSection from "./LandinPage/BroucherSection.astro"
---
<div class="w-full">
    <MainSection />
    <InfoSection />
    <AsphaltSection />
    <MapaSection/>
    <SpareSection />
    <ManufactuSection />
    <ControlSection />
    <FuelSection />
    <DeliverySection />
    <TotalAirSection />
    
</div>