<div class="w-full flex flex-col items-center justify-center font-bold">
    <h1 class="px-8  lg:px-52 text-2xl lg:text-3xl text-blueMain text-center">Sell at a lower price, attract more costumers, and achieve higher profits</h1>
    <div class="relative flex flex-col items-center justify-center my-4 bg-grisT">
        <div class="absolute top-0 right-0 w-full h-full bg-grisT">1</div>
        <div class="px-8 lg:px-52 z-10">
            <h1 class="text-lg lg:text-xl text-white">Full-Scale Technology in a Compact Format</h1>
            <p class="text-base lg:text-lg font-normal text-bgMain">The Triaso® 10 TPH Integral Asphalt Plant is not a simplified or limited
                 system—it’s a scaled version of our high-capacity drum mixers, 
                 built with the same industrial-grade components and design principles.
                  It includes a counterflow dryer drum, external pugmill mixer, 
                  full-size burner, and precision dosing systems, all adapted to a 
                  compact structure. This ensures that even in small-scale operations,
                  you maintain the same production quality, durability, and efficiency 
                  found in large asphalt plants.
            </p>
        </div>

    </div>
</div>