---
import img1 from '../../assets/logos/triasoLogo.png';
---
<div class="w-full flex flex-col items-center justify-center font-bold mt-20">
    <h1 class="px-4  lg:px-52 text-xl lg:text-2xl text-blueMain text-center">Sell at a lower price, attract more costumers, and achieve higher profits</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center px-8 md:px-52 mt-10">
        <div class="flex flex-col items-start justify-start">
            <div>
                <img src="" alt="">
            </div>
            <div class="flex flex-col items-start justify-start">
                <h1 class="text-xl lg:text-2xl text-blueMain">Triple-compartment Bin Option</h1>
                <br>
                <p class="text-grisT">For jobs where speed matters, you can choose the optional
                     triple-compartment bin. This lets you load raw material
                      directly—no dosing, no waiting. Just throw in your aggregates
                       and start production.
                    </p>
            </div>
        </div>
        <div>
            <img src="" alt="">
        </div>

    </div>
    <div class="relative flex flex-col items-center justify-center my-4 bg-grisT">
        <img src={img1.src} alt="" class="absolute top-1/4 right-0 w-full bg-grisT">
        <div class="px-8 lg:px-52 z-10 py-8">
            <h1 class="text-lg lg:text-xl text-white">Full-Scale Technology in a Compact Format</h1>
            <br>
            <p class="text-base lg:text-lg font-normal text-bgMain">The Triaso® 10 TPH Integral Asphalt Plant is not a simplified or limited
                 system—it’s a scaled version of our high-capacity drum mixers, 
                 built with the same industrial-grade components and design principles.
                  It includes a counterflow dryer drum, external pugmill mixer, 
                  full-size burner, and precision dosing systems, all adapted to a 
                  compact structure. This ensures that even in small-scale operations,
                  you maintain the same production quality, durability, and efficiency 
                  found in large asphalt plants.
            </p>
        </div>

    </div>
</div>