---
import img1 from '../../assets/images/AsphaltPlant/render2.png';
---
<div class="w-full flex flex-col items-center font-bold mt-16 px-8 md:px-52">
    <div class="flex justify-end items-end w-full mb-10">
        <h1 class="text-2xl md:text-4xl text-end pb-4 border-b-2 border-b-blueMain">Integral asphalt plants of 10 Tph</h1>
    </div>
    <div>
        <p class="text-grisT lg:text-xl text-base text-justify">The Triaso® 10 TPH Integral Asphalt Plant offers a compact,
             all-in-one solution for efficient asphalt production. Combining key 
             components such as a counterflow dryer drum, external pugmill mixer,
              aggregates bin, asphalt tank, fuel tank, electric generator, and control 
              cabinet, all mounted on a mobility chassis or stationary legs, this plant
               is designed for flexibility, ease of transport, and reliable performance in 
               various operational environments.</p>
        <img src={img1.src} alt="" class="my-4">
        <h1 class="text-2xl md:text-4xl text-center pb-4">Everything in a single unit</h1>
    </div>
</div>