<div class="w-full flex flex-col items-center justify-center px-8 lg:px-52 mt-10 font-bold">
    <div class="bg-white flex flex-col items-center justify-center rounded-md">
        <h1 class="text-2xl lg:text-4xl text-center mt-4">Everything you need in a single unit.</h1>
        <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center">
            <div>
                <h1>Perfect for small projects, patching, and premixed seals.</h1>
                <p>Perfect for small-scale jobs like patching, resurfacing,
                    and premixed seals. Its compact design and efficient operation make it 
                    ideal for quick, cost-effective asphalt production on demand.
                </p>
            </div>
            <div>
                <h1>Produce your asphalt mix directly at the paving site</h1>
                <p>Produce your asphalt mix directly at the paving site, eliminating 
                    the need for transport from external plants. This speeds up work, 
                    reduces costs, and ensures the mix is always fresh and at the right 
                    temperature.
                </p>
            </div>
            <div>
                <h1>Zero emissions, ready to work in any city.</h1>
                <p>The Triaso® 10 TPH Integral Asphalt Plant is a zero-emission, eco-friendly 
                    solution for urban projects. With advanced technology and efficient design,
                    it meets strict environmental standards while delivering high performance.
                </p>
            </div>
            <div>
                <img src="" alt="">
                <h1>Zero emissions, ready to work in any city.</h1>
                <p>The Triaso® 10 TPH Integral Asphalt Plant is a zero-emission, eco-friendly 
                    solution for urban projects. With advanced technology and efficient design,
                    it meets strict environmental standards while delivering high performance.
                </p>
            </div>
            <div>
                <h1>Free yourself from local mix suppliers for small jobs.</h1>
                <p>With the Triaso® 10 TPH Integral Asphalt Plant, you can eliminate 
                    the reliance on local mix suppliers for small projects. 
                    This self-sufficient solution allows for complete control over your
                    asphalt production, reducing costs and ensuring high-quality results 
                    on demand.
                </p>
            </div>
            <div>
                <h1>Drum Mixer Flights</h1>
                <p>Conventional flights, as in any standard-capacity drum mixer
                </p>
                <ul>
                    <li>Inlet Flights</li>
                    <li>Drying Veiling Flights</li>
                    <li>Radiation Flights</li>
                    <li>Heating Flights</li>
                    <li>Mixing Flights</li>
                </ul>
            </div>
            
        </div>

    </div>
    
</div>