---
import GallerySlider from "../unitComponents/GallerySlider";
import g1 from "../../assets/images/HotMix/Gallery/HM1.webp";
import g2 from "../../assets/images/HotMix/Gallery/HM2.webp";
import g3 from "../../assets/images/HotMix/Gallery/HM3.webp";
import g4 from "../../assets/images/HotMix/Gallery/HM4.webp";
import g5 from "../../assets/images/HotMix/Gallery/HM5.webp";
import g6 from "../../assets/images/HotMix/Gallery/HM6.webp";
import g7 from "../../assets/images/HotMix/Gallery/HM7.webp";
import g8 from "../../assets/images/HotMix/Gallery/HM8.webp";
import g9 from "../../assets/images/HotMix/Gallery/HM9.webp";
import g10 from "../../assets/images/HotMix/Gallery/HM10.webp";

const HMGallery = [
    {
        image: g1.src,
        caption: "Self-erecting Hot Mix storage Silo, 100 Tons capacity, in working position",
    },
    {
        image: g2.src,
        caption: "Self-erecting Hot Mix storage Silo, 100 Tons capacity, in transporting position",
    },
    {
        image: g3.src,
        caption: "Self-erecting Hot Mix storage Silo, 100 Tons capacity, in transporting position",
    },
    {
        image: g4.src,
        caption: "Self-erecting Hot Mix storage Silo, 100 Tons capacity, in raising",
    },
    {
        image: g5.src,
        caption: "Self-erecting Hot Mix storage Silo, 100 Tons capacity, in raising",
    },
    {
        image: g6.src,
        caption: "Hot Mix storage Silo, 100 Tons capacity, in working position",
    },
    {
        image: g7.src,
        caption: "Hot Mix storage Silo, 100 Tons capacity, in working position",
    },
    {
        image: g8.src,
        caption: "Hot Mix storage Silo, 100 Tons capacity, in transporting position",
    },
    {
        image: g9.src,
        caption: "Hot Mix storage Silo, 130 Tons capacity, in working position",
    },
    {
        image: g10.src,
        caption: "Hot Mix storage Silo, 130 Tons capacity, in transporting position",
    },
];
---

<section class="w-full font-bold text-grisT">
    <div class="w-full mt-10 pb-10 px-8">
        <div class="z-50">
            <GallerySlider client:only slides={HMGallery} visibleThumbs={3} />
        </div>
    </div>
</section>
