<div class="w-full px-8 lg:px-52 font-bold text-grisT mt-20 md:mt-28">
    <h1 class="text-2xl md:text-4xl">HOT-MIX STORAGE <br> SILOS</h1>
    <br>
    <p class="text-base md:text-lg text-justify md:text-start">
        Triaso’s hot mix storage silos are engineered to optimize the handling, storage,
         and delivery of asphalt mix, ensuring top-quality performance while meeting the
          demands of modern construction projects. Designed for durability and efficiency,
           these silos maintain the temperature and integrity of the mix for up to 72 hours.
            Whether for stationary use or mobile projects, our silos provide reliable solutions
             tailored to your operational needs.
    </p>

</div>