<div class="w-full max-w-7xl mx-auto px-8 font-bold text-grisT mt-20 md:mt-28">
    <h1 class="text-2xl md:text-4xl">HOT-MIX STORAGE <br> SILOS</h1>
    <br>
    <p class="text-base md:text-lg text-justify md:text-start">
        Triaso® hot-mix storage silos are engineered to optimize the storage, handling and delivery of hot-mix
        , ensuring top-quality performance while meeting the demands of modern construction projects. 
        Designed for durability and efficiency, these silos maintain the temperature and integrity of the 
        mix for up to 72 hours. 

        <br><br>
        Whether for stationary setups or mobile operation, our silos provide reliable solutions tailored to your needs.
    </p>

</div>