---
import RAProv5 from "../../assets/images/RapBins/Gallery/RBG4.webp";
import RBDropdowns from "./RBDropdowns.astro"
---

<section
    class="w-full max-w-7xl px-8 mx-auto flex flex-col justify-center font-bold text-grisT"
>
    <div class="w-full mt-20 md:mt-32">
        <h1 class="text-3xl md:text-4xl text-end">
            RAP (Reclaimed Asphalt Pavement) Bin Units
        </h1>
        <br />
        <div class="space-y-10">
            <p class="text-sm font-medium">
                RAP (Reclaimed Asphalt Pavement) is the asphalt pavement
                recovered through milling. It is fully suitable for recycling by
                incorporating it into new asphalt mixes, taking advantage of
                both its aggregates and the asphalt binder it contains.
                Recycling this highly wasted material significantly reduces
                production costs by lowering material and binder consumption,
                minimizing transportation costs, saving energy, and—most
                importantly—achieving substantial economic gains through reduced
                life-cycle costs..
            </p>
            <p class="text-sm font-medium">
                RAP ha been utilized in hot-mixes since 1915, enabling
                significant cost savings in the asphalt mix where it is
                utilized. An asphalt mix with RAP incorporated has a much lower
                production cost compared to one without RAP—mainly from the
                reuse of the asphalt binder already present in the RAP. This is
                why RAP usage has been growing rapidly in recent years on a
                global scale.
            </p>
            <p class="text-sm font-medium">
                We offer everything you need to work with RAP, from
                modifications to your existing asphalt plant to a new plant
                specialized in cost-effective RAP production.
            </p>
        </div>
    </div>
    <div class="w-full flex justify-center">
        <img src={RAProv5.src} alt="" class="" />
    </div>
</section>
  <RBDropdowns/>