---
import RAProv5 from "../../assets/images/RapBins/Gallery/RBG4.png";
---
<section class="w-full max-w-7xl px-8 mx-auto flex flex-col justify-center font-bold text-grisT">
    <div class="w-full mt-20 md:mt-32">
        <h1 class="text-3xl md:text-4xl">RAP (Recycled Asphalt Pavement) Bin Units</h1>
        <br>
        <p class="text-base md:text-lg">
            Triaso® RAP Bins are designed for accurate storage and controlled delivery of recycled asphalt pavement (RAP) 
            within the hot-mix production line. Built for long service life, they integrate seamlessly into the production process,
             minimizing downtime and maximizing operational efficiency.
        </p>
    </div>
    <div class="w-full flex justify-center">
        <img src={RAProv5.src} alt="">
    </div>
    
    
</section>