<section class="w-full px-8 md:px-32 flex flex-col justify-center font-bold text-grisT">
    <div class="w-full mt-20 md:mt-32">
        <h1 class="text-3xl md:text-4xl">RAP (Recycled Asphalt Pavement) Bins</h1>
        <br>
        <p class="text-base md:text-lg">
            Triaso® RAP Feeders are designed for the precise handling and transport of recycled asphalt pavement (RAP) in asphalt plants,
             ensuring a controlled and consistent flow of material. Engineered for durability, they integrate seamlessly into the production 
             process, minimizing downtime and maximizing operational efficiency.
        </p>
    </div>
    <div class="w-full">
        <img src="" alt="">
    </div>
    
    
</section>