<section class="w-full font-bold text-grisT">
    <div class="w-full grid grid-cols-1 md:grid-cols-3 mt-20">
        <div class="col-span-1 w-full">
            <img src="" alt="">
        </div>
        <div class="col-span-2 w-full md:pr-32">
            <h2 class="text-black text-lg md:text-xl">Precision Dosing Systems in RAP Bins</h2><br>
            <p class="text-grisT text-base md:text-lg">
                Our RAP bins are equipped with advanced dosing systems designed for optimal precision and reliability. 
                These systems ensure accurate material flow and distribution, meeting the demands of even the most stringent project requirements.
            </p><br>
            <ul class="ml-6 list-disc text-grisT text-base md:text-lg space-y-6">
                <li>High-Precision Sensors:
                     Real-time monitoring of material levels enables precise control and helps prevent overflows or shortages.
                </li>
                <li>Adjustable Flow Rates: The system allows operators to fine-tune RAP flow to match production needs and material consistency.
                </li>
                <li>Consistent Material Distribution: Maintains uniform dosing to ensure a balanced mix in downstream operations.</li>
                <li>Automated Controls: Integrated programmable logic controllers (PLCs) deliver consistent, repeatable performance across different jobs.</li>
                <li>Anti-Clogging Mechanism: Specially engineered chutes and gates reduce the risk of blockages, supporting smooth and continuous flow.</li>
                <li>Energy-Efficient Operation: Designed to minimize power consumption while sustaining high performance.</li>
            </ul><br>
            <p class="text-grisT text-base md:text-lg">
                These features make our RAP bin dosing systems essential for operations that require precise and efficient incorporation of 
                recycled asphalt pavement into the production process.
            </p>
        </div>
    </div>
</section>