---
import Logo from "../../../assets/logos/LogoTriasoMX.svg";
---
<section class="w-full bg-grisT flex flex-col gap-10 text-white">
    <div class="w-full relative">
        <div class="w-full px-8 md:px-52 py-10 z-40 relative">
            <h1 class="text-xl md:text-3xl font-bold">
                Your long-term partner in asphalt solutions
            </h1><br>
            <p class="text-base md:text-lg font-thin">
                Our factory is located in Durango, Mexico and we have manufacture and installed equipments all over the world.
                Speak to us to give you a list of satisfied customers, with which you can see our equipments working.
            </p>
        </div>
        <img src={Logo.src} alt="" class="w-full absolute top-0 right-0 z-0">
    </div>
    <div class="w-full px-8 md:px-52 py-10 grid grid-cols-1 md:grid-cols-2 gap-10">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <p class="text-base md:text-lg font-thin">
                We provide the most complete manual in the industry for the installation and maintenance of the equipment.
                 You will be able to take charge of the subsequent installations and maintenance completely. Even so, we have
                  technicians available to provide the service of subsequent relocations and maintenance.
            </p>
        </div>
    </div>
    <div class="w-full md:pr-52 py-10 grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="w-full flex flex-col gap-6">
            <div class="w-3/4 md:pl-52 bg-redBg p-10 rounded-r-2xl">
                <h2 class="text-xl md:text-3xl font-bold">
                    100% manufactured in neighboring México
                </h2>
            </div>
            <div class="w-full md:pl-52 bg-blueMain p-10 rounded-r-2xl">
                <h2 class="text-xl md:text-3xl font-bold">
                    Versatile Configurations
                </h2>
                <p class="text-base md:text-lg font-thin">
                    Triaso® equipment is designed to adapt seamlessly to your operational needs. Simply tell us your requirements,
                     and we’ll customize the equipment to provide you with a tailored quote..
                </p>
            </div>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
</section>