---
import CardSection from "../IntegralAsphalt/CardSection.astro";
---

<section>
    <div class="py-10">
        <h1 class="text-center font-bold text-blueMain text-2xl md:text-3xl">Choose life-lasting components for long-term performance and return on investment</h1>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div class="w-full px-8 md:px-52 grid grid-cols-1 md:grid-cols-2">
        <div>
            <h2 class="font-bold text-redBg text-xl md:text-2xl">Common Powder Additives <br> in Industrial Applications</h2>
            <div class="bg-white rounded-2xl w-full p-8 grid grid-cols-2 gap-6 font-bold text-grisT text-base md:text-lg">
                <ul class="list-disc ml-6">
                    <li>Cellulose</li>
                    <li>Cement</li>
                    <li>Lime</li>
                    <li>Ash</li>
                    <li>Silica</li>
                    <li>Metals</li>
                    <li>Graphite</li>
                </ul>
                <ul class="list-disc ml-6">
                    <li>Gypsum</li>
                    <li>Clay</li>
                    <li>Talc</li>
                    <li>Alumina</li>
                    <li>Carbon</li>
                    <li>Dolomite</li>
                    <li>Barium</li>
                </ul>
            </div>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <CardSection></CardSection>
</section>